django-cors-headers==2.1.0
Django==2.2.10
base36
beautifulsoup4==4.8.2
betamax
betamax_serializers
boto==2.39.0
cairosvg
celery==4.3.0
dj-database-url==0.3.0
dj-static==0.0.6
django-anymail[mailgun]==3.*
django-bitfield==2.0.1
django-cache-memoize==0.1.6
django-compat==1.0.15
django-filter==2.2.0
django-guardian==1.4.9
django-hijack==2.1.10
django-hijack-admin==2.1.10
django-imagekit==4.0.2
django-json-widget==1.0.0
django-redis==4.10.0
django-server-status==0.5.0
django-storages==1.6.6
django-webpack-loader==0.5.0
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
drf-extensions==0.5.0
djoser==2.0.3
elasticsearch-dsl==6.1.0
elasticsearch==6.3.0
factory_boy
faker
feedparser
google-api-python-client==1.7.11
html5lib==0.999999999
ipython
lxml==4.5.0
markdown2
newrelic
ocw-data-parser==0.5.0
Pillow==6.2.0
psycopg2==2.8.3
praw==4.5.1
pyyaml==5.1.2
python-dateutil
python-rapidjson==0.9.1
python3-saml==1.9.0
pygithub==1.44.1
pyopenssl==17.5.0
pytube==9.5.2
redis==3.2.1
requests
sentry-sdk==0.14.1
social-auth-app-django==2.1.0
static3==0.5.1
tika==1.23.1
tldextract
toolz==0.10.0
ulid-py
urllib3>=1.24.2
uwsgi
wrapt==1.10.11
xbundle==0.3.1
git+https://github.com/mitodl/mit-moira.git#egg=mit-moira==0.0.4
