django-cors-headers==2.1.0
Django==1.10.5
PyYAML==3.11
betamax
betamax_serializers
boto==2.39.0
celery==4.0.2
dj-database-url==0.3.0
dj-static==0.0.6
django-redis==4.7.0
django-server-status==0.3.2
django-webpack-loader==0.4.1
djangorestframework==3.5.2
djangorestframework-jwt==1.11.0
factory_boy
faker
html5lib==0.999999999
ipython
newrelic
psycopg2==2.7
praw==4.5.1
raven
redis==2.10.5
requests
static3==0.5.1
ulid-py
uwsgi
