django-cors-headers==2.1.0
Django==1.11.10
PyYAML==3.11
base36
beautifulsoup4==4.6.0
betamax
betamax_serializers
boto==2.39.0
celery==4.0.2
dj-database-url==0.3.0
dj-static==0.0.6
django-redis==4.7.0
django-server-status==0.5.0
django-webpack-loader==0.5.0
django-anymail[mailgun]
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
elasticsearch-dsl==6.1.0
elasticsearch==6.2.0
factory_boy
faker
html5lib==0.999999999
ipython
markdown2
newrelic
psycopg2==2.7
praw==4.5.1
premailer==3.1.1
python-dateutil
raven
redis==2.10.5
requests
static3==0.5.1
ulid-py
uwsgi
