bpython
codecov
ddt
django-debug-toolbar
ipdb
nplusone
pdbpp
pip-tools
pylint==1.7.1
pylint-django==0.7.2
pytest
pytest-cov
pytest-django
pytest-pep8
pytest-mock
pytest-pylint==0.6.0
semantic-version
tox
