astroid==2.0.4
black==18.9b0
bpython
codecov
ddt
django-debug-toolbar
ipdb
isort
moto==1.3.13
nplusone>=0.8.1
pdbpp
pip-tools
pylint==2.1.1
pylint-django==2.0.2
pytest==4.3.0
pytest-cov>=2.6.1
pytest-django==3.4.8
pytest-pep8==1.0.6
pytest-mock==1.10.1
pytest-pylint==0.12.3
pytest-lazy-fixture==0.4.2
safety
semantic-version
tox
