version: '2'
services:
  db:
    image: postgres
    ports:
      - "5432"

  redis:
    image: redis
    ports:
      - "6379"

  python:
    build:
      context: .
      # TODO: upload dockerfile first then uncomment this line
      # dockerfile: ./travis/Dockerfile-travis-web
      dockerfile: ./Dockerfile
    command: /bin/true
    environment:
      DEBUG: 'False'
      COVERAGE_DIR: htmlcov
      PORT: 8063
      NODE_ENV: 'production'
      DATABASE_URL: postgres://postgres@db:5432/postgres
      MIT_OPEN_SECURE_SSL_REDIRECT: 'False'
      MIT_OPEN_DB_DISABLE_SSL: 'True'
      BROKER_URL: redis://redis:6379/4
      CELERY_RESULT_BACKEND: redis://redis:6379/4
      XDG_CACHE_HOME: /src/.cache
    env_file: .env

  web:
    image: mit_open_python
    extends:
      service: python
    command: >
      /bin/bash -c '
      sleep 3 &&
      python3 manage.py migrate &&
      ./with_host.sh python3 manage.py runserver 0.0.0.0:8063'
    ports:
      - "8063:8063"
    links:
      - db

  celery:
    image: mit_open_python
    extends:
      service: python
    command: >
      /bin/bash -c '
      sleep 3;
      celery -A mit_open worker -B -l debug'
    links:
      - db
      - redis
