{
  "root": true,
  "extends": "eslint-config-mitodl",
  "rules": {
      "no-prototype-builtins": [0]
  },
  "settings": {
    "react": {
      "version": "16.4.0",
      "flowVersion": "0.75.0" // Flow version
    }
  }
}
