{
  "root": true,
  "extends": ["eslint-config-mitodl", "eslint-config-mitodl/flow", "eslint-config-mitodl/mocha"],
  "plugins": ["import"],
  "rules": {
      "operator-linebreak": "off",
      "import/no-extraneous-dependencies": "error"
  },
  "settings": {
    "react": {
      "version": "16.4.0",
      "flowVersion": "0.94.0" // Flow version
    }
  }
}
