@use "ol-util/assets/breakpoint" as *;

$lightText: #B0B0B0 !default;

.expanded-lr-summary {
  padding: 30px;

  select {
    background: #f8f8f8;
    border: 1px solid #bbb;
  }

  .run-selector {
    display: inline-flex;
    font-size: 13px;

    .info-label {
      color: $lightText;
      padding-right: 6px;
    }
  }

  .ol-lrc-cert {
     float: right
  }

  .image-div {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;

    img {
      display: block;
      margin: auto;
      width: 100%;
    }
  }
  
  .object-type {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
    text-transform: uppercase;
    color: $lightText;
  }

  .section-label {
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .offered-by {
    display: inline-flex;
    font-size: 15px;
    height: 37px;
    align-items: center;
    .label {
      color:  $lightText;
    }

    .offeror {
      font-weight: bold;
    }

    @include breakpoint(desktop) {
      float: right;
    }

  }

  .title {
    margin: 5px 0;
  }

  .description {

    .tt-expansion-control {
      @include breakpoint(materialmobile) {
        text-align: right;
        padding-right: 25px;
        padding-top: 5px;
        display: block;
        color: #202020;
        font-weight: bold;
      }
    }

    @include breakpoint(materialmobile) {
      font-size: 14px;
    }
  }

}

.ol-lr-info {
  dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 15px;
  }
}

.resource-actions {
  margin-top: 20px;
  margin-bottom: 20px;
  > *:not(:first-child) {
    margin-left: 5px;
  }
  *:not(:last-child) {
    margin-right: 5px;
  }
}

.lr-drawer.MuiDrawer-root .drawer-close{
  float: right;
  padding: 20px;
  padding-bottom: 0px;
  border: none;
}

.ol-tooltip-share {
  min-width: 250px;
  max-width: 250px;

  box-shadow: 0 0 20px 0 black;

  input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
  }

  .ol-tooltip-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
