@use "ol-util/assets/breakpoint" as *;

$lightText: #B0B0B0 !default;
$semiBoldWeight: 600 !default;

.ol-lr-details {
  h2, h3, h4 {
    margin: 5px 0
  }
  dl {
    margin: 8px 0
  }

  padding: 30px;

  select {
    background: #f8f8f8;
    border: 1px solid #bbb;
  }

  .run-selector {
    display: inline-flex;
    font-size: 0.8125em;

    .info-label {
      color: $lightText;
      padding-right: 6px;
    }
  }

  .ol-lrc-cert {
     float: right
  }

  .image-div {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;

    img {
      display: block;
      margin: auto;
      width: 100%;
    }
  }
  
  .object-type {
    font-size: 15px;
    font-weight: $semiBoldWeight;
    text-transform: uppercase;
    color: $lightText;
  }

  .offered-by {
    font-size: 15px;
    .label {
      color:  $lightText;
    }

    .offeror {
      font-weight: bold;
    }

  }


  .description {

    .tt-expansion-control {
      @include breakpoint(materialmobile) {
        text-align: right;
        padding-right: 25px;
        padding-top: 5px;
        display: block;
        color: #202020;
        font-weight: bold;
      }
    }

    @include breakpoint(materialmobile) {
      font-size: 14px;
    }
  }

}

.ol-lr-info {
  dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 15px;
  }
}

.ol-lrd-actions-row {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ol-lrd-actions {
  > *:not(:first-child) {
    margin-left: 5px;
  }
  *:not(:last-child) {
    margin-right: 5px;
  }
}

.ol-tooltip-share {
  min-width: 250px;
  max-width: 250px;

  box-shadow: 0 0 20px 0 black;

  input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  .ol-tooltip-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
