$icon-size: 20px !default;

.ol-widget {
  button {
    padding: 2px;
    font-size: $icon-size;
    display: inline-flex;
  }
}

.ol-widget-header {
  margin-top: 0;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;

  button {
    font-size: 1.2 * $icon-size;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
}

.ol-widget.ol-widget-collapsed {
  .ol-widget-header {
    margin: 0;
  }
}

.ol-widget-actions {
  &.MuiCardActions-root { // mui puts margins by default, so we need to be extra selective
    button:last-child {
      margin-left: auto;
    }
  }
}

.ol-widget-editing-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$dialog-z-index: 1300;

.ol-widget-dialog.MuiDialog-root {
  /*
  This is the default z-index for MUI anyway.
  Setting it explicitly for use below.
  */
  z-index: $dialog-z-index;
}

.ol-widget-ckeditor {
  --ck-z-modal: #{$dialog-z-index + 1};
}

.ol-widget-content {
  > *:last-child {
    margin-bottom: 0; // no extra space beyond the card padding.
  }
}

.ol-widget-url-preview {
  max-width: 300px
}