$iconSize: 20px !default;

.ol-widget {
  button {
    padding: 2px;
    font-size: $iconSize;
    display: inline-flex;
  }
  &.ol-widget-collapsed {
    .ol-widget-header {
      margin: 0;
    }
  }
}

.ol-widget-header {
  margin-top: 0px;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  button {
    font-size: 1.2*$iconSize;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
}

.ol-widget-actions {
  &.MuiCardActions-root { // mui puts margins by default, so we need to be extra selective
    button:last-child {
      margin-left: auto;
    }
  }
}

.ol-widget-editing-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$dialogZIndex: 1300;
.ol-widget-dialog.MuiDialog-root {
  /*
  This is the default z-index for MUI anyway.
  Setting it explicitly for use below.
  */
  z-index: $dialogZIndex;
}

.ol-widget-ckeditor {
  --ck-z-modal: #{$dialogZIndex + 1};
}

.ol-widget-content {
  > *:last-child {
    margin-bottom: 0; // no extra space beyond the card padding.
  }
}

.ol-widget-url-preview {
  max-width: 300px
}