$iconSize: 20px !default;

.ol-widget {
  button {
    padding: 2px;
    font-size: $iconSize;
    display: inline-flex;
  }
}

.ol-widget-header {
  margin-top: 0px;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  button {
    font-size: 1.2*$iconSize;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
}

.ol-widget-actions {
  &.MuiCardActions-root { // mui puts margins by default, so we need to be extra selective
    button:last-child {
      margin-left: auto;
    }
  }
}
