@use "sass:color";

$color: magenta !default;

.MuiButtonBase-root {
  &.primary {
    color: $color;
    &.bordered {
      border: 1pt solid $color;
    }
    &.filled {
      background-color: $color;
      color: white;
      &:hover {
          background-color: color.adjust($color, $lightness: -10%);
      }
      &:active {
          background-color: color.adjust($color, $saturation: -20%);
      }
  }
  }
}