@use "sass:color";
@use "theme";

%button-base {
  cursor: pointer;
  border-radius: theme.$border-radius;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  &:not([disabled]) {
    color: inherit;
  }
}

.outlined-button {
  @extend %button-base;
  background: transparent;
  display: flex;
  border-width: 1px;
  &:not([disabled]) {
    border-color: theme.$font-color-default;
  }
}

.background-button {
  @extend %button-base;
  border: none;
  background-color: theme.$color-background;
}