@use "sass:color";
@use "ol-util/assets/variables.scss";

.ol-btn {
    background-color: variables.$rouge;
    color: white;
    margin: 0 10px 5px 0;
    padding: 9px 36px;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: color.adjust(variables.$rouge, $lightness: -10%);
    }
    &:active {
        background-color: color.adjust(variables.$rouge, $saturation: -20%);
    }
}