@use "material-components-web/dist/material-components-web";
@use "ol-util/assets/card";

@use "theme";
@use "button" with ( $color: theme.$color-primary );
@use "columns";
@use "main-search";

html {
  font-family: theme.$font-family-default;
  color: theme.$font-color-default;
}

body { 
  background-color: theme.$color-background;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
}