@use "theme";
@use "mui";
@use "main-search";
@use "header";
@use "homepage";
@use "fieldpage";
@use "userlists";
@use "learning-resources";
@use "searchpage";
@use "form";
@use "admin";
@use "buttons";
@use "widgets";
@use "layout";
@use "ol-util/assets/loading_spinner";
@use "demopage";

html {
  font-family: theme.$font-family-default;
  color: theme.$font-color-default;
}

body { 
  background-color: theme.$color-background;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  color: inherit
}

h1 {
  font-size: theme.$font-size-h1;
}

h2 {
  font-size: theme.$font-size-h2;
}

h4 {
  font-size: theme.$font-size-h4;
}