@use "theme";

.demo-page {
  color: theme.$color-blue-5;

  .page-title {
    margin-bottom: 0.5rem;
    color: theme.$color-blue-5;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .search-label {
    font-size: 13px;
    padding-top: 5px;
  }


  .header {
      max-width: 520px;
      padding-bottom: 10px;
  }

  .results-container {
    padding-top: 10px;
    padding-bottom: 80px;
  }

  .feedback-button {
    padding: 10px;
    background: white;
    margin-top: 10px;
    max-width: 520px;
  }

  .no-results {
    padding-top: 20px;
  }
}