@use "theme";

.error-page {
  background: theme.$color-gray-1;
  box-shadow: 0 2px 10px rgba(120 169 197 / 15%);
  border-radius: 5px;
  width: 780px;
  padding: 40px 50px 50px;
  margin-top: 40px;

  body {
    background: theme.$color-blue-1;
  }

  .page-title {
    color: theme.$color-blue-5;
    margin: 0 0 10px ;
    padding: 0;
    font-size: 28px;
    text-align: center;
  }
  .header {
      max-width: 520px;
      padding-bottom: 10px;
  }
  .button-container {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .return-button {
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    background: white;
    margin-top: 10px;
    max-width: 520px;
  }
}