@use "theme";

$avatarSize: 60px;

.field-title-container.MuiContainer-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; // full height of the banner
}

.field-title-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: $avatarSize;
    width: $avatarSize;
  }

  h1 a {
    color: theme.$color-gray-1;
    margin-left: 1em;
    &:hover {
      text-decoration: none;
    }
  }
}

$carouselSpacing: 24px;
.ic-carousel-card {
  height:100%;
  margin-left: $carouselSpacing/2;
  margin-right: $carouselSpacing/2;
}

.ic-carousel {
  padding-top: theme.$shadowOverflowTop;
  padding-bottom: theme.$shadowOverflowBottom;

  /*
  We want the carousel cards to be:
    1. spaced
    2. cast a shadow when hovered
    3. left-aligned (left edge of left-most card aligned with rest of page content)
  
  The card container has `overflow: hidden` to prevent seeing the offscreen
  cards. Consequently, if the leftmost card is at the left edge of the carousel
  container, then its shadow gets cut off and looks weird.

  So instead: keep a margin on the left-most card, but translate the whole
  carousel leftwards by the same margin. This keeps stuff spaced and makes the
  shadows look nice.

  Caveat: This is not a good solution if there is content within $carouselSpacing
  of the carousel's left edge. But...there's not.
  */
  transform: translateX(-$carouselSpacing/2);
  /*
  We also want the carousel contents (cards) to appear as if they are full
  width. By default, the width is 100% and since there's cell-spacing, the
  right-most card does not line up with the right-hand margin, it's short by 
  half the spacing.

  But since we also translated the contents leftwards (see above) we're actually
  off by a full cellSpacing.

  This needs to be !important because Nuke Carousel applies width: 100% as an
  inline style.
  */
  width: calc(100% + #{$carouselSpacing}) !important;
}

.ic-carousel-button-prev {
  margin-right: 0.5em;
}
.ic-carousel-button-next {
  margin-left: 0.5em;
}

$avatar-dimension-medium: 57px;
$avatar-dimension-small: 22px;

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .avatar {
    display: table;
    margin-right: 22px;
  }

  .avatar-image {
    display: table;
    overflow: hidden;
  }

  .avatar-initials {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    background-color: theme.$channel-avatar-bg;
    font-weight: 600;
  }

  &.small-size {
    img,
    .avatar,
    .avatar-initials {
      width: $avatar-dimension-small;
      height: $avatar-dimension-small;
      font-size: 15px;
      border-radius: 4px;
    }
  }

  &.medium-size {
    img,
    .avatar,
    .avatar-initials {
      width: $avatar-dimension-medium;
      height: $avatar-dimension-medium;
      font-size: 32px;
      border-radius: 8px;
    }
  }
}


$minTabHeigt: 44px;
.page-nav-content.MuiTabPanel-root {
  /*
  page-nav is meant for the main content of a page.
  We don't need extra padding beyond that of Container, and removing this
  padding makes alignment with titles easier.
  */
  padding-left: 0;
  padding-right: 0;
}

.page-nav  {

  .MuiTabs-indicator {
    height:4px;
  }
  &.MuiTabs-root {
    min-height: $minTabHeigt;
  }

  .MuiTab-root {
    min-height: $minTabHeigt;
    font-size: theme.$font-size-h2;
    padding: 10px 16px;

    &.Mui-selected {
      font-weight: bold;
    }
  }
}

.page-subbanner {
  background-color: theme.$color-background-light;
  .MuiGrid-root > .MuiGrid-item  {
    padding-top: 0px;
  }
}


.field-controls {
    position: relative;
    flex-grow: 0.95;
    justify-content: flex-end;
    min-height: 38px;
    display: flex;
    align-items: center;

    .field-edit-button {
      cursor: pointer;
      color: #fff;
    }
}

.field-edit-button {
  z-index: 2000;
  color: #fff;
}