@use "theme";

$fontColor: theme.$font-color-default;
$fontColorLight: theme.$font-color-light;

$radius: theme.$std-border-radius;
$borderColor: theme.$input-border-grey;

.form {
  .form-item {
    margin: 0 0 28px 0;
    color: $fontColor;

    .label,
    .input {
      display: block;
    }
  }

  select {
    background: #f8f8f8;
    border: 1px solid #bbb;
    font-size: 15px;
    color: $fontColor;
    border-radius: $radius;
    height: 39px;
    /* If you add too much padding here, the options won't show in IE */
    padding: 8px 20px;
    width: 100%;
  }

  .divider {
    padding-top: 10px;
  }

}

.form .row,
.form-header .row {
  margin: 10px 10px 24px 0;
}

.validation-message {
  background-color: theme.$validation-bg;
  color: theme.$validation-text;
  font-size: 14px;
  padding: 5px;
}

.form-field {
  margin: 0 0 28px 0;
  color: $fontColor;
}

input[type="email"],
input[type="text"],
input[type="url"],
input[type="password"] {
  &.form-field {
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: $radius;
    border: 1px solid $borderColor;
    transition: width 0.4s ease-in-out;
    box-sizing: border-box;
  
    &:disabled {
      background: #f7f7f7;
      border-color: #ccc;
    }
  }
}

textarea,
input[type="text"] {
  &.form-field {
    width: 100%;
    padding: 12px 10px;
    box-sizing: border-box;
    border-radius: theme.$std-border-radius;
    border: 1px solid theme.$input-border-grey;
    background-color: #fff;
    resize: auto;
    font-size: 15px;
    font-family: inherit;
  
    &.no-height {
      height: auto;
    }
  
    &.underlined {
      border-radius: 6.5px 6.5px 0 0;
      border-bottom: 2px solid black;
      border-top: none;
      border-left: none;
      border-right: none;
    }
  
    &.h1 {
      font-size: 24px;
      font-weight: bold;
      border: none;
      outline: none;
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  &.form-field {
    box-sizing: border-box;
    font-size: 16px;
  }
}

input::placeholder,
textarea::placeholder {
  &.form-field {
    color: #bbb;
  }
}

textarea.form-field {
  height: 110px;
}


label.form-label {
  display: block;
  margin: 0 0 6px 0;
  font-family: roboto, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #777;

  .highlight {
    color: #000;
  }
}

label {
  .header-padded {
    margin: 10px;
  }
}



label.radiolabel {
  display: inline-block;
  margin: 0 15px 6px 0;
  font-family: roboto, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.actions {
  margin-top: 20px;
}

.ml-auto {
  margin-left: auto !important;
}

.drag-delete-btn {
    cursor: pointer;
    color: #000000;
}

.drag-handle {
    cursor: pointer;
}


