@use "theme";


header.ic-header {
  background-color: theme.$color-background-light;
  color: theme.$font-color-default;
  min-height: 55px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(120 169 197 / 15%);

  > * {
    flex: 1
  }
  
  .ic-divider {
    margin: 0.5em 1em;
  }

  h2 {
    font-size: 1.25em;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
  }

  .ic-header-title:hover {
    a {
      text-decoration: none;
    }
  }

  .ic-mit-logo {
    width: 45px;
    height: auto;

    img {
      height: 20px;
    }
  }
}
