@use "theme";

$spacer: 1em;

.homepage {

  .page-title {
    margin-top: 2*$spacer;
    margin-bottom: $spacer;
  }

  .homepage-search {
    margin-top: $spacer;
    margin-bottom: $spacer;
  }

  h2 {
    color: theme.$color-primary;
  }

  .field-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    li {
      list-style-type: none;
    }
  }
}

$thumnailSize: 60px;
$linkMaxSize: 120px;

.field-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  aspect-ratio: 1 / 1;
  max-height: $linkMaxSize;

  img {
    width: $thumnailSize;
    height: $thumnailSize;
  }

  figure {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  padding: 0.5em;

  color: theme.$color-primary;
  text-decoration: none; /* No link underline */

  .field-title {
    text-align: center;
  }

  transition-property: background-color border;
  transition-duration: theme.$transition-duration;
  border: 1px solid transparent;

  border-radius: theme.$border-radius;
  &:hover {
    background-color: theme.$color-background-light;
    margin: -1px;
    border: 1px solid theme.$color-primary;
  }
}