@use "theme";

$spacer: 1.75rem;
$maxWidth: 520px;
$thumnailSize: 60px;
$linkMinSize: 100px;
$linkMaxSize: 120px;

.homepage {

  h1 {
    font-size: 32px;
  }

  &.MuiContainer-root {
    max-width: $maxWidth;
    padding: 1rem;
  }

  .page-title {
    margin-top: 2*$spacer;
    margin-bottom: $spacer;
    text-align: center;
  }

  .homepage-search {
    margin-top: $spacer;
    margin-bottom: $spacer;
  }

  h2 {
    margin-top: $spacer;
    color: theme.$color-primary;
    text-align: center;
  }
}

.field-list {
  padding: 0;
  li {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
}

.field-link {
  color: theme.$color-primary;

  .field-title {
    text-align: center;
  }

  img {
    width: $thumnailSize;
    height: $thumnailSize;
  }

  figure {
    min-width: $linkMinSize;
    max-width: $linkMaxSize;
    margin: 0;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition-property: background-color border;
    transition-duration: theme.$transition-duration;
    border: 1px solid transparent;
  
    border-radius: theme.$border-radius;
    &:hover {
      background-color: theme.$color-background-light;
      margin: -1px;
      border: 1px solid currentcolor;
    }
  }
}