@use "theme";
@use "ol-search-ui/assets/learning-resource-card" with (
  $lightText: theme.$font-color-light
);

$cardListSpacer: 1em;

.ic-resource-card {
  &.MuiCard-root {
    color: theme.$font-color-default;

    transition-duration: theme.$transition-duration;
    transition-property: box-shadow;
    &:hover {
      box-shadow: theme.$shadow;
    }
  }
}

.ic-card-row-list {
  padding-left: 0;
  > li {
    list-style: none;
    margin-top: $cardListSpacer / 2;
    margin-bottom: $cardListSpacer / 2;
  }
}