@use "theme";
@use "breakpoints";
@use "ol-search-ui/assets/learning-resource-card" with (
  $light-text: theme.$font-color-light
);
@use "ol-search-ui/assets/learning-resource-drawer";

$card-list-spacer: 1.5em;

.ic-resource-card {
  @include breakpoints.down(sm) {
    .ol-lrc-image{
      display: none;
    }
  }
}

.ic-card-row-list {
  padding-left: 0;

  > li {
    list-style: none;
    margin-top: $card-list-spacer;
    margin-bottom: $card-list-spacer;
  }
}

.ic-lr-drawer {
  max-width: 600px;
}