@use "theme";

$max-width: 520px;

.main-search {
  background-color: theme.$color-background-light;

  &.MuiInputBase-root {
    max-width: $max-width;
    width: 100%;
    border-radius: 3px;
    font-size: 1.25rem;

    fieldset {
      border-color: theme.$color-blue-5;
      border-width: 1.5px;
    }

    &.Mui-focused  fieldset{
       border-color: theme.$color-blue-5;
    }
  }
  
  .MuiInputBase-input {
    &::placeholder {
      font-size: 1rem;
    }
  }

  .MuiButton-root {
    border-radius: 3px;
    padding: 10px;
  }
}