@use "theme";

$max-width: 520px;

.main-search {
  background-color: theme.$color-background-light;

  &.MuiInputBase-root {
    max-width: $max-width;
    width: 100%;
    border-radius: 100vh;
    font-size: 1.25rem;

    &.Mui-focused fieldset {
      border-color: theme.$color-gray-4;
    }
  }
  
  .MuiInputBase-input {
    &::placeholder {
      font-size: 1rem;
    }
  }

  .search-icon-button {
    border: solid 1px;
    border-color: #A32034;
  }

}