@use "sass:color";
@use "theme";

$color: theme.$color-primary;

.app-container {
  .MuiTab-root {
    text-transform: none;
  }
  
  
  .MuiChip-root.MuiChip-filled {
    background-color: theme.$color-background;
  }

  .MuiButtonBase-root {
    text-transform: none;
    &.primary {
      color: $color;
      &.bordered {
        border: 1pt solid $color;
      }
      &.filled {
        background-color: $color;
        color: white;
        &:hover {
            background-color: color.adjust($color, $lightness: -10%);
        }
        &:active {
            background-color: color.adjust($color, $saturation: -20%);
        }
      }
    }
  }
}

.app-container {
  .MuiCardContent-root {
    padding-bottom: 16px;
    &:last-child {
      padding-bottom: 16px; // MUI puts extra padding on the last child by default. We don't want it.
    }

    > *:first-child {
      margin-top: 0px; // No extra space for the first child, beyond the card content's padding.
    }
  }
  .MuiCardActions-root {
    padding-left: 16px;
    padding-right: 16px;
  }

  .MuiCard-root {
    color: theme.$font-color-default;

    transition-duration: theme.$transition-duration;
    transition-property: box-shadow;
    &:hover {
      box-shadow: theme.$shadow;
    }
  }
}