@use "sass:color";
@use "theme";

$color: theme.$color-primary;

.MuiButtonBase-root {
  &.primary {
    color: $color;
    &.bordered {
      border: 1pt solid $color;
    }
    &.filled {
      background-color: $color;
      color: white;
      &:hover {
          background-color: color.adjust($color, $lightness: -10%);
      }
      &:active {
          background-color: color.adjust($color, $saturation: -20%);
      }
    }
  }
}

.MuiButtonBase-root.MuiTab-root {
  text-transform: none;
}

.MuiChip-root.MuiChip-filled {
  background-color: theme.$color-background;
}