@use "theme";
@use "ol-util/assets/breakpoint";

$resultsSpacer: 1rem;

.searchbar-container {
  display: flex;
  justify-content: center;
}

.ic-searchpage-list {
  > * {
    margin: $resultsSpacer;
  }

  @include breakpoint.breakpoint(phone) {
    .ic-resource-card {
      margin: 10px;
    }
  }
}


.filterable-facet {
  .input-wrapper {
    position: relative;

    i.material-icons {
      position: absolute;
      right: 5px;
      top: 8px;
      color: theme.$color-gray-4;
    }

    i.clear-icon {
      cursor: pointer;
    }
  }

  input.facet-filter {
    background-color: initial;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;

    &::placeholder {
      color: theme.$color-gray-4;
      line-height: unset;
    }
  }

  .facet-list {
    max-height: 400px;
    overflow: auto;
  }
}

.searchbar-container{
	height: 500px;
}

.filter-section-title {
  font-size: theme.$font-md;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
}

.filter-section-main-title {
  font-size: theme.$font-md;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  @include breakpoint.breakpoint(desktop) {
    margin-right: 25px
  }
}

.facets {
  box-sizing: border-box;
  margin: 1rem;

  .divider {
    padding-top: 20px;
  }

  .mdc-form-field {
    display: flex;
    align-items: center;

    label {
      margin: 0;
      width: 100%;
    }
  }

  .facet-hidden {
    display: none;
  }

  .facet-visible {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    font-size: theme.$font-sm;
    margin-right: 6px;
    cursor: pointer;
    padding-right: 0.5rem;

    input {
      margin-right: 10px;
      cursor: pointer;
    }

    .facet-label-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      label {
        cursor: pointer;
        margin-bottom: 0;
      }

    }

    .facet-key {
      color: black;
    }

    .facet-count {
      color: theme.$color-gray-4;
    }
  }

  .facet-more-less {
    cursor: pointer;
    color: theme.$color-gray-4;
    font-size: theme.$font-sm;
    text-align: right;
  }
}

.active-search-filters {
  margin: 0rem 1rem 1.4rem 1rem;

  .clear-all-filters {
    font-size: theme.$font-normal;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 0.15rem;
  }

  .active-search-filter {
    margin: 0px 5px 9px 0px;
    background-color: theme.$color-gray-2;
    padding: 6px 10px;
    font-size: theme.$font-sm;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid theme.$color-gray-4;
    border-radius: 14px;

    .remove-filter {
      max-height: 18px;
      margin-right: 5px;
      cursor: pointer;

      i {
        font-size: theme.$font-md;
      }
    }
  }
}

.search-filter-drawer-open {
  position: fixed;
  top: 0px;
  height: 100%;
  left: 0;
  background: white;
  width: 100%;
  overflow: scroll;
  z-index: theme.$muiAppBarZIndex + 1;

  .contents {
    margin: 0 20px;
  }

  .controls {
    display: flex;
    justify-content: flex-end;

    i {
      margin-right: 18px;
      margin-top: 18px;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .apply-filters {
    margin: 25px;

    button {
      width: 100%;
      font-size: theme.$font-lg;
    }
  }
}

.filter-controls i.material-icons {
    font-size: 2.25rem;
    display: inline;
    vertical-align: bottom;
}

.search-page-banner header{
  min-height: 150px;
}
