$color-gray-1: #fff;
$color-gray-2: #F0F5F7;
$color-gray-3: #b0b0b0;
$color-gray-4: #898A8B;
$color-gray-5: #000;
$color-red-1: #e3d5d5;
$color-red-2: #d6b2b3;
$color-red-3: #a31f34;
$color-red-4: #57081a;
$color-red-5: #30020e;
$color-blue-1: #edeff5;
$color-blue-3: #126f9a;
$color-blue-5: #03152d;
$color-primary: $color-red-3;
$color-secondary-light: $color-blue-1;
$color-secondary: $color-blue-5;
$color-background: $color-blue-1;
$color-background-light: $color-gray-1;
$font-color-light: $color-gray-3;
$font-color-default: $color-blue-5;
$font-family-default: "Source Sans Pro", helvetica, arial, sans-serif !important;
$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-h1: 24px;
$font-size-h2: 18px;
$font-size-h4: 14px;
$font-weight-bold: bold;
$font-weight-semi-bold: 400;
$transition-duration: 300ms;
$border-radius: 5px;
$shadow-offset-x: 3px;
$shadow-offset-y: 4px;
$shadow-color: rgb(0 0 0 / 36%);
$shadow-blur-radius: 12px;
$shadow: $shadow-offset-x $shadow-offset-y $shadow-blur-radius $shadow-color;

/*
  Useful when needing to add padding to a container to ensure shadow is visible.
*/
$shadow-overflow-top: $shadow-blur-radius - $shadow-offset-x;
$shadow-overflow-bottom: $shadow-blur-radius + $shadow-offset-y;
$channel-avatar-bg: #2aab8b;

// Forms
$font-black: rgb(0 0 0 / 87%);
$std-border-radius: 3px;
$validation-bg: #ffe8ec;
$validation-text: #f07183;
$font-grey-light: #b0b0b0;
$input-border-grey: #b7b7b7;
$navy: #03152d;
$link-blue: #0b51bf;
$font-xxxl: 2rem; /* 32px == 2 x 16 */
$font-xxl: 1.75rem; /* 28px == 2 x 16 */
$font-xl: 1.5rem; /* 24px == 1.5 x 16 */
$font-lg: 1.25rem; /* 20px */
$font-md: 1.125rem; /* 18px */
$font-normal: 1rem; /* 16px */
$font-sm: 0.875rem; /* 14px */
$font-xs: 0.75rem; /* 12px */

$mui-app-bar-z-index: 11000;
