$color-gray-1: #ffffff;
$color-gray-2: #d9d9d9;
$color-gray-3: #8c8c8c;
$color-gray-4: #262626;
$color-gray-5: #000000;

$color-red-1: #e3d5d5;
$color-red-2: #d6b2b3;
$color-red-3: #a31f34;
$color-red-4: #57081a;
$color-red-5: #30020e;

$color-primary:  #a31f34;

$font-color-default: $color-gray-4;
$font-family-default: "Source Sans Pro", helvetica, arial, sans-serif !important;