@use "theme"; 

.ic-list-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.userlist-page {
  .empty-message {
    font-style: italic;
  }
}

.manage-list-form {
  .radio-option {
    .MuiFormControlLabel-label {
      border: 1pt solid theme.$input-border-grey;
      border-radius: theme.$border-radius;
      width: 200px;
      padding: 0.5rem;
      margin: 0.5rem;
      align-self: stretch;
    }

    .option-header {
      font-weight: bold;
      font-size: theme.$font-normal;
      display: block;
    }

    .option-detail {
      font-size: theme.$font-sm;
    }
  }
}

.add-to-list-dialog {
  .MuiDialog-paper {
    width: 325px;
  }
  .resource-title-inline {
    font-style: italic
  }
}