.edit-channel {
  .channel-form {
    margin-top: 18px;

    .max-characters {
      margin: 12px;
      font-size: 12px;
    }

    .avatar-and-title {
      display: flex;

      > * {
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
      }

      .title-container {
        margin-left: 40px;
        width: 100%;
      }

      .open-photo-dialog {
        height: 24px;
        width: 24px;
        line-height: initial;
        top: -7px;
        right: -5px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 16px;
        }
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .post-types {
    display: flex;
    flex-direction: column;

    .mdc-form-field {
      display: flex;
      align-items: center;

      label {
        margin: 0;
      }
    }
  }

  .members-list {
    font-weight: bold;

    .email {
      color: $font-grey-light;
      font-weight: normal;
    }

    .remove {
      margin: 0 5px;
    }

    table {
      width: 100%;
      border-spacing: 12px;

      .three-cols {
        td {
          width: 3 * 100% / 8;

          &:last-child {
            width: 2 * 100% / 8;
          }
        }
      }

      .two-cols {
        width: 50%;
      }

      td:last-child {
        text-align: center;
      }
    }
  }

  .add-member {
    background-color: white;
    border: $link-blue 1px solid;
    color: $link-blue;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
    padding: 9px 16px;
    font-size: 14px;

    &:hover {
      box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
      transition: none;
    }
  }

  .members {
    color: $navy;
  }

  .add-member-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $navy;
    margin-bottom: 20px;

    button[type="submit"] {
      margin: auto;
    }
  }

  .cant_remove {
    color: $font-grey-light;
    font-weight: normal;
  }

  .membership-notice {
    padding: 5px;
    font-weight: 500;
  }

  input[name="email"] {
    width: 100%;
    margin-right: 10px;
  }
}

.channel-banner {
  z-index: -1;
}

.channel-banner-wrapper {
  position: relative;
  height: 250px;

  .channel-banner {
    z-index: 0;
  }
}

.avatar-container {
  .cropper-view-box {
    border-radius: inherit;
  }

  .upload-avatar {
    margin-left: 20px;
  }
}
