.app .content .main-content {
  &.channel-header {
    margin: 0 auto;
    min-height: 0;
  }

  &.channel-page {
    .card-list-loader {
      margin-top: 20px;
    }
  }

  &.channel-intra-nav {
    margin: 0 auto 5px;
    min-height: 0;
  }
}

.channel-page {
  .sidebar-right {
    padding-top: 34px;
  }
}

.channel-intra-nav-wrapper {
  background-color: #ffffff;
  padding: 6px 0 0;

  .intra-page-nav {
    display: flex;
    margin-bottom: 0;
    font-size: 18px;

    a {
      padding: 4px 15px;

      &.active {
        color: $rouge;
        border-bottom-color: $rouge;
      }
    }

    .search-link {
      // correct vertical center alignment
      margin-left: auto;
      margin-right: 0;
      padding-bottom: 5px;
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  .extra-navbar-items {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    justify-content: flex-end;
    align-items: center;

    .manage-title {
      font-weight: 700;
      margin-right: auto;
    }

    button {
      padding: 5px 15px;
      margin: 0 5px;
    }

    &:empty {
      display: none;
    }
  }
}

.avatar-headline-row {
  height: $channel-banner-height;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left,
  .right {
    display: flex;
    align-items: center;
  }

  .left {
    padding-right: 5px;
  }

  .avatar-image,
  .avatar-initials {
    border-radius: 4px;
  }

  .title-and-headline {
    display: flex;
    flex-direction: column;
    color: white;
    height: 57px;

    .title {
      font-size: 22px;
      font-weight: bold;

      a {
        color: white;
      }
    }

    .headline {
      font-size: 16px;
    }
  }

  .edit-button {
    color: white;
  }

  .channel-controls {
    position: relative;
    flex-grow: 0.5;
    justify-content: flex-end;
    min-height: 38px;

    a {
      cursor: pointer;
    }

    button {
      font-family: inherit;
    }

    .follow-button,
    .edit-button {
      margin-right: 0;
      margin-left: 10px;
    }

    .follow-button {
      flex-grow: 1;
      padding: $button-vert-padding 0;
      min-width: 110px;
      max-width: 145px;
      text-align: center;
    }

    .dropdown-button {
      position: relative;

      span {
        display: inline-block;
        padding-right: 10px;
      }

      i.material-icons {
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -12px;
      }
    }

    .edit-button {
      z-index: 20;
    }

    .dropdown-menu {
      &.settings-menu-dropdown {
        right: 0;
        top: 30px;
      }

      &.channel-follow-dropdown {
        right: 34px;
        top: 39px;

        // HACK: If there is no channel settings icon, this should be the last child, so
        // the menu should float all the way right. We need to get menus showing up relative
        // to the clicked item.
        &:last-child {
          right: 0;
        }
      }
    }
  }

  .settings-menu {
    cursor: pointer;
    z-index: 20;
  }
}

$avatar-dimension-medium: 57px;
$avatar-dimension-small: 22px;

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .avatar {
    display: table;
    margin-right: 22px;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  .avatar-image {
    display: table;
    overflow: hidden;
  }

  .avatar-initials {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    background-color: $channel-avatar-bg;
    font-weight: 600;
  }

  &.small-size {
    img,
    .avatar,
    .avatar-initials {
      width: $avatar-dimension-small;
      height: $avatar-dimension-small;
      font-size: 15px;
      border-radius: 4px;
    }
  }

  &.medium-size {
    img,
    .avatar,
    .avatar-initials {
      width: $avatar-dimension-medium;
      height: $avatar-dimension-medium;
      font-size: 32px;
      border-radius: 8px;
    }
  }
}
