.course-searchbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 252px;
  @include breakpoint(phone) {
    height: 115px;
  }

  label {
    font-size: 24px;
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .input-wrapper {
    position: relative;
    height: 55px;
    color: $font-grey-mid;
    margin: 0 20px;
    max-width: 500px;
    width: calc(100% - 40px);

    i.material-icons {
      position: absolute;
      top: 12px;
      font-size: 33px;
      cursor: pointer;
    }

    i.search-icon {
      left: 10px;
      width: 50px;
    }

    i.clear-icon {
      right: 10px;
    }

    input.search-input {
      height: 100%;
      padding-left: 50px;
      font-size: 20px;
      border-radius: 7px;
      border: none;
    }

    .link-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 22px;

      a.link-button {
        margin-right: 0;
      }
    }
  }
}
