.article-banner-image-wrapper {
  display: inline-block;
  width: 100%;
  background-color: white;
  border-radius: $std-border-radius;

  .article-banner-image {
    min-height: 115px;
    background-color: $pale-grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    margin-bottom: 0;

    @include breakpoint(phone) {
      margin: 10px;
      margin-bottom: 0;
    }

    .photo-dropzone {
      height: 150px;

      .cover-image-message {
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
          font-size: 50px;
          padding-bottom: 15px;
        }
      }
    }

    .cover-img-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 100%;
      }

      button {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
