.create-user-list-dialog {
  display: block;

  .user-list-create-form {
    color: black;
    border-top: 2px solid $border-grey;
    border-bottom: 2px solid $border-grey;
    padding-top: 20px;

    @include breakpoint(phone) {
      padding-top: 10px;
    }

    .radio {
      display: flex;
      align-items: center;
      margin: 20px 0;

      @include breakpoint(phone) {
        flex-direction: column;
        margin: 10px 0;
      }

      &.type {
        label {
          height: 70px;

          @include breakpoint(phone) {
            height: initial;
          }
        }
      }

      &.privacy {
        label {
          text-align: center;

          @include breakpoint(phone) {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .option {
        input {
          margin: 0;
        }

        @include breakpoint(phone) {
          width: 100%;
          margin-bottom: 5px;
        }

        label {
          color: black;
          font-size: 14px;
          border: 1px solid $border-grey;
          border-radius: 5px;
          width: 130px;
          padding: 15px 10px;
          line-height: 1.1rem;
          margin: 0 60px 0 20px;

          @include breakpoint(phone) {
            width: 100%;
            margin: 0 0px 0 20px;
            padding: 5px 10px;
          }

          .header {
            display: block;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }

    .input-name {
      font-size: 16px;
      display: block;
    }

    input.title {
      width: calc(100% - 25px);
      padding: 10px;
    }

    input.title,
    textarea {
      border-radius: 5px;
      border: 1px solid $border-grey;
      margin: 10px 0;

      @include breakpoint(phone) {
        margin: 5px 0;
      }
    }

    .topics-select {
      padding-bottom: 15px;

      input {
        width: 100% !important;
      }
    }
  }
}
