.home-callout .card-contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  .logo-col {
    flex-grow: 0;
    align-self: flex-start;

    @include breakpoint(phone) {
      display: none;
    }

    img {
      width: 67px;
      height: 67px;

      @include breakpoint(phone) {
        width: 45px;
        height: 45px;
      }
    }
  }

  .callout-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-left: 15px;

    @include breakpoint(phone) {
      padding-left: 0;
    }

    .text-col {
      flex-shrink: 1;
      flex-grow: 4;
      padding: 0 15px 0 0;
      min-width: 240px;
      flex-basis: 240px;

      @include breakpoint(phone) {
        min-width: 0;
        padding: 0;
      }

      h3 {
        margin: 0;
        padding: 0 0 8px 0;
        font-size: 24px;
        line-height: 24px;

        @include breakpoint(phone) {
          font-size: 20px;
        }
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: $font-grey;

        @include breakpoint(phone) {
          font-size: 14px;
        }
      }
    }

    .action-col {
      align-self: flex-end;
      flex-grow: 1;
      padding-top: 15px;

      a.link-button {
        display: inline-block;
        width: 195px;
        padding: 9px;
        margin: 0;
      }
    }
  }
}

.shutdown-notice {
  margin-bottom: 20px;
  border-left: 4px solid #d9534f;
  background-color: #f8d7da;

  .shutdown-message {
    h2 {
      color: #721c24;
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: 600;
    }

    p {
      color: #721c24;
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 1.5;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: #721c24;
      text-decoration: underline;
      font-weight: 600;

      &:hover {
        color: #491217;
      }
    }
  }
}
