// Just the utility classes from bootstrap.
@import "~bootstrap/dist/css/bootstrap-utilities.css";

@import "~@material/drawer/dist/mdc.drawer";
@import "~@material/toolbar/dist/mdc.toolbar";
@import "~@material/list/dist/mdc.list";
@import "~@material/button/dist/mdc.button";
@import "~@material/snackbar/dist/mdc.snackbar";
@import "~@material/dialog/dist/mdc.dialog";
@import "~@material/radio/dist/mdc.radio";
@import "~@material/checkbox/dist/mdc.checkbox";
@import "~material-components-web/dist/material-components-web";
@import "~spinkit/scss/spinners/7-three-bounce";
@import "~spinkit/scss/spinners/10-fading-circle";
@import "~prosemirror-example-setup/style/style";
@import "~prosemirror-view/style/prosemirror";
@import "~rc-tooltip/assets/bootstrap_white";
@import "~ol-util/assets/breakpoint.scss";

@import "variables";
@import "extensions";
@import "card";
@import "learning-resource-card";
@import "basic";
@import "breadcrumbs";
@import "form";
@import "post";
@import "post-list";
@import "create-post";
@import "sidebar";
@import "channel";
@import "comment";
@import "button";
@import "navigation";
@import "loader";
@import "profile";
@import "profile-image";
@import "auth-required";
@import "content-policy";
@import "admin";
@import "not-found";
@import "reports";
@import "picker";
@import "settings";
@import "user-info";
@import "embedly";
@import "user-menu";
@import "cropper";
@import "drawer";
@import "banner";
@import "snackbar";
@import "dropdown-menu";
@import "auth";
@import "tooltip";
@import "editor";
@import "add-link-menu";
@import "close-button";
@import "intra-page-nav";
@import "channel-banner";
@import "markdown";
@import "link";
@import "home-page";
@import "search";
@import "article";
@import "widget";
@import "cover-image";
@import "related";
@import "course";
@import "course-carousel";
@import "new-course-widget";
@import "course-index-page";
@import "channel-member-page";
@import "course-filter-drawer";
@import "truncated-text";
@import "user-list-card";
@import "create-user-list-dialog";
@import "user-list-page";
@import "user-listitem-dialog";
@import "dialog";
@import "learning-resource-drawer";
@import "podcasts";
@import "audio-player";
@import "filterable-facet";
@import "learning-resource-icon";

body {
  font-family: $body-font;
  background-image: linear-gradient(123deg, #e5e9f4, #ffffff);
  margin: 0;
  padding: 0;
  color: $font-black;
}

.app {
  width: 100%;
  min-height: 100vh;

  *:focus:not(.focus-visible) {
    outline: none;
  }

  .mdc-layout-grid {
    padding: 0;
  }

  .persistent-drawer.open ~ .content {
    padding-left: $drawer-width;
  }

  .persistent-drawer.closed ~ .content,
  .persistent-drawer.hover ~ .content {
    padding-left: $collapse-drawer-width;
  }

  .banner--active ~ .content {
    padding-top: $toolbar-height-desktop + $banner-height;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $toolbar-height-desktop;
    transition: $banner-slide-content-trans, padding-left 500ms;

    @include breakpoint(materialmobile) {
      padding-top: $toolbar-height-mobile;
    }

    .main-content {
      margin-top: 20px;
      margin-bottom: 50px;
      min-height: calc(100vh - #{$toolbar-height-desktop});

      @include breakpoint(materialmobile) {
        min-height: calc(100vh - #{$toolbar-height-mobile});
      }

      &.one-column {
        width: 80%;
        max-width: 950px;

        &.narrow {
          max-width: 560px;
        }

        @include breakpoint(mobile) {
          width: 90%;
        }

        @include breakpoint(phone) {
          width: 95%;
        }
      }

      &.two-column {
        width: 90%;

        @include breakpoint(desktop) {
          max-width: 1100px;
        }

        @include breakpoint(phone) {
          width: 95%;
        }
      }

      &.two-column-extrawide {
        width: 90%;

        @include breakpoint(desktop) {
          max-width: 1400px;
        }

        @include breakpoint(phone) {
          width: 95%;
        }
      }
    }
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
