.expanded-lr-summary {
  display: flex;
  flex-direction: column;
  font-size: $submission-font-size;
  line-height: 1.3;
  padding: 0px 30px;

  .image-div {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;

    img {
      display: block;
      margin: auto;
      width: 100%;
    }
  }

  .external-links {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;

    a.link-button {
      margin: 0;
      font-size: 18px;
    }

    .platform-logo {
      display: flex;
      align-items: center;

      img {
        max-height: 32px;
      }

      span {
        margin-right: 15px;
      }
    }
  }

  .section-label {
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .podcast-detail-row {
    margin: 15px 0;

    .podcast-play-button {
      margin-right: 15px;
    }
  }

  .topics {
    margin: 25px 0;

    .topics-list {
      display: flex;
      flex-flow: wrap;
    }
  }

  .podcast-subtitle {
    font-size: 18px;
    font-weight: bold;
  }

  .podcast-main-title {
    font-size: 24px;
    color: $course-blue;
    font-weight: bold;

    @include breakpoint(materialmobile) {
      font-size: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .title {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin: 25px 0;
  }

  .description {
    font-size: 16px;
    color: black;

    .tt-expansion-control {
      color: $font-grey-mid;

      @include breakpoint(materialmobile) {
        text-align: right;
        padding-right: 25px;
        padding-top: 5px;
        display: block;
        color: #202020;
        font-weight: bold;
      }
    }

    @include breakpoint(materialmobile) {
      font-size: 14px;
    }
  }

  .lr-metadata {
    margin: 25px 0;
  }

  .info-row {
    display: flex;
    cursor: default;
    margin-bottom: 15px;

    .col-1 {
      min-width: 33%;
      display: flex;
      color: $font-grey-light;

      i {
        margin-right: 8px;
      }
    }
  }
}

.elr-share {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 20px 0;

  .share-contents {
    display: flex;
    align-items: center;
    color: $course-blue;
    cursor: pointer;

    i {
      transform: scaleX(-1);
      font-size: 30px;
    }
  }
}

.expanded-learning-resource-list {
  padding-bottom: 5px;

  .learning-resource-card {
    margin: 20px;
    border-bottom: 2px solid $pale-grey;
    padding-bottom: 10px;
  }

  .list-header {
    background-color: $bg-light-grey;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 20px;
  }

  .pagination-nav {
    display: flex;
    padding: 0 20px;
  }

  i {
    cursor: pointer;
  }
}
