.podcasts {
  background-image: url("../../../static/images/podcasts_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  min-height: calc(100vh - #{$toolbar-height-desktop});

  @include breakpoint(materialmobile) {
    min-height: calc(100vh - #{$toolbar-height-mobile});
    background-image: url("../../../static/images/podcasts_bg_mobile.png");
  }

  h1 {
    color: white;
    text-align: center;
  }

  .recent-episodes {
    padding-top: 60px;
    max-width: 480px;
    margin: auto;

    @include breakpoint(materialmobile) {
      padding-top: 50px;
    }

    .recent-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;

      .title {
        font-size: 20px;
        color: white;

        @include breakpoint(materialmobile) {
          margin-left: 15px;
          padding-bottom: 0px;
        }
      }
    }

    .subscribe-button-div {
      height: 60px;
    }

    .podcast-subscribe-button {
      padding: 2px;
      width: 250px;
      height: 45px;
      float: right;
    }

    @include breakpoint(materialmobile) {
      .podcast-subscribe-button {
        width: 95%;
        margin-right: 2.5%;
      }
    }
  }

  .all-podcasts {
    max-width: 900px;
    margin: auto;

    @include breakpoint(materialmobile) {
      padding-left: 20px;
      padding-right: 20px;
    }

    h1 {
      text-align: left;
      color: black;
      text-transform: uppercase;
      font-size: 20px;

      @include breakpoint(materialmobile) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  .podcast-footer {
    width: 100%;

    .podcast-disclaimer-box {
      background-color: $course-blue;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .podcast-disclaimer {
      max-width: 900px;
      color: white;
      margin: auto;
      padding: 16px;
      @include breakpoint(mobile) {
        font-size: 12px;
      }
    }

    .cells {
      display: flex;
      justify-content: space-between;
      max-width: 900px;
      margin: auto;
      align-items: center;

      @include breakpoint(mobile) {
        flex-direction: column;
      }

      padding: 0 10px;

      @include breakpoint(desktopwide) {
        padding: 0 60px;
      }
    }

    .cell {
      display: flex;
      align-items: center;
      padding: 6px 0;

      @include breakpoint(desktop) {
        padding: 33px 0;
      }
    }

    .cell.logo-legal {
      a {
        margin-right: 28px;
      }

      .legal {
        font-size: 12px;
      }
    }

    .cell.links {
      a,
      .bar {
        color: black;
        font-size: 12px;
      }

      .bar {
        padding: 0 3px;
      }
    }

    .cell.title {
      display: flex;
      align-items: center;
      font-weight: bold;

      .bar {
        margin-bottom: 3px;
      }

      .home-link {
        margin-right: 8px;
        color: black;
      }

      .section-link {
        font-size: 24px;
        color: $nice-red;
        margin-left: 8px;

        @include breakpoint(mobile) {
          font-size: 18px;
        }
      }
    }
  }
}

.podcast-episode-card {
  > .card-contents {
    > div {
      display: flex;
      justify-content: space-between;
      background-color: white;
      color: black;
      padding: 0;
      margin: 0;
      text-align: left;
      width: 100%;

      @include breakpoint(materialmobile) {
        margin-bottom: 5px;
        border-radius: 0px;
        min-height: 140px;
      }

      max-width: 480px;
      cursor: pointer;

      .episode-title {
        font-size: 14px;
        font-weight: bold;
      }

      .podcast-name {
        font-size: 14px;
        color: $font-grey-light;
        font-family: "Roboto";
        padding-top: 10px;

        @include breakpoint(materialmobile) {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }

      .play-date-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .date {
          font-size: 14px;
          color: $podcast-border-grey;
        }
      }

      .podcast-play-button {
        margin-top: 8px;
      }

      .left-col {
        width: 100%;
        margin-right: 10px;
      }

      .episode-cover-image {
        border: 1px solid $podcast-border-grey;
        border-radius: 5px;
        max-width: 125px;
        min-width: 125px;
        max-height: 79px;
        overflow: hidden;
      }
    }
  }

  @include breakpoint(materialmobile) {
    margin-bottom: 10px;
  }
}

.podcast-card {
  #podcast-card-inner-container {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: roboto;
    cursor: pointer;
    border-radius: 5px;

    @include breakpoint(materialmobile) {
      margin-bottom: 10px;
    }

    .cover-img {
      img {
        width: 100%;
        min-height: 170px;
        border-radius: 5px 5px 0 0;
      }
    }

    .podcast-info {
      padding: 16px;
    }

    .resource-type {
      font-size: 13px;
      color: $font-grey-mid;
      text-transform: uppercase;
      font-weight: 500;
    }

    .podcast-title {
      margin: 10px 0;
      margin-top: 2px;
      min-height: 62px;
      font-size: 18px;
      color: black;
      font-weight: 500;
      cursor: pointer;
    }

    .podcast-author,
    .podcast-episode-count {
      font-size: 14px;
      min-height: 32px;
    }

    .podcast-author {
      color: $font-grey-light;
    }
  }
}

.podcast-play-button {
  div {
    display: inline-flex;
    font-family: $body-font;
    font-size: 14px;
    margin: 0;
    padding: 0px 10px;
    cursor: pointer;
    text-transform: uppercase;

    i {
      font-size: 18px;
    }
  }

  &.grey-surround {
    > div {
      color: black;

      i {
        color: black;
        background-color: $pale-grey;
      }
    }
  }

  &.black-surround {
    > div {
      color: white;

      i {
        color: white;
        background-color: black;
      }
    }
  }
}

.podcast-detail-row {
  display: flex;
}

.paginated-podcast-episodes {
  padding: 10px;
}

.podcast-subscribe-button {
  height: 50px;
  width: 200px;
  border-radius: 4px;
  margin: 0;

  &.links {
    background-color: $podcast-subscribe-bg;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 5px;
      height: 35px;

      img {
        height: 35px;
        border-radius: 50%;
      }
    }
  }
}
