$profile-image-small-size: 45px;

.profile-image {
  border-radius: 100%;
  background-color: #579cf9;
  color: #fff;
  width: $profile-image-small-size;
  height: $profile-image-small-size;
  display: block;
  overflow: hidden;
}

.micro {
  width: 25px;
  height: 25px;
  font-size: 12px;
}

.small {
  width: $profile-image-small-size;
  height: $profile-image-small-size;
  font-size: 16px;
}

.medium {
  width: 109px;
  height: 109px;
  font-size: 36px;
}

.medium-small {
  width: 75px;
  height: 75px;
  font-size: 24px;
}

.profile-image-container,
.avatar-container {
  display: flex;

  .avatar {
    position: relative;

    .open-photo-dialog {
      cursor: pointer;
      width: 34px;
      height: 34px;
      border: 0;
      border-radius: 50%;
      background-color: $navy;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      line-height: $profile-image-small-size;
      margin: 0;
      padding: 0;

      img {
        width: 22px;
        height: auto;
      }

      i.material-icons {
        color: white;
        font-size: 22px;
      }
    }
  }

  a {
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
  }
}

.photo-upload-dialog {
  h3 {
    border-bottom: none !important;
  }

  .mdc-dialog__surface {
    width: 100%;
  }
}

.photo-dropzone {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;

  .desktop-upload-message,
  .mobile-upload-message {
    font-size: 17px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    color: $font-black;
  }

  .mobile-upload-message {
    display: none;
  }

  @include breakpoint(mobile) {
    .desktop-upload-message {
      display: none;
    }

    .mobile-upload-message {
      display: block;
    }
  }
}

.photo-active-item {
  width: 100%;
}

.dashed-border {
  background-color: $bg-light-grey;
  border-radius: 7px !important;
  border: 2px dashed $border-grey !important;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include breakpoint(mobile) {
    border: none;
    border-radius: 0;
  }
}

.profile-initials {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.profile-image-email {
  display: flex;
  justify-content: start;
  line-height: $profile-image-small-size;

  img {
    margin-right: 10px;
  }
}
