.search-textbox {
  position: relative;
  min-width: 330px;

  @include breakpoint(mobile) {
    min-width: unset;
  }

  input {
    padding: 3px 40px 2px 40px;
    font-size: 22px;
    font-weight: 600;
    box-sizing: border-box;
  }

  .material-icons {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 6px;
    height: 21px;
    width: 21px;
  }

  .search-icon {
    left: 10px;
  }

  .clear-icon {
    right: 10px;
    font-size: 20px;
  }

  .maxwidth {
    max-width: 600px;
  }
}

.profile-search-result {
  .card-contents {
    display: flex;
    flex-direction: row;
    align-items: center;

    .profile-image-container {
      padding-right: 20px;
    }

    .name {
      font-size: 18px;
      font-weight: bold;
    }

    .headline {
      font-size: 16px;
      padding-top: 5px;
    }
  }
}

.search-filters {
  .filter-controls {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .filter-section-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .facets,
  .active-search-filters {
    @include breakpoint(desktop) {
      width: 90%;
    }
  }

  .active-search-filters {
    border-bottom: 1px solid $font-grey-mid;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .clear-all-filters {
      font-size: 14px;
      color: $search-grey;
      font-weight: normal;
    }

    .active-search-filter {
      margin: 0px 5px 9px 0px;
      background-color: $bg-light-grey;
      padding: 6px 10px;
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      flex-wrap: nowrap;
      border: 1px solid $font-grey-mid;
      border-radius: 14px;

      .remove-filter {
        max-height: 18px;
        margin-right: 5px;
        cursor: pointer;

        i {
          font-size: 18px;
        }
      }
    }
  }

  .facets {
    margin-bottom: 20px;

    .divider {
      padding-top: 20px;
    }

    .mdc-form-field {
      display: flex;
      align-items: center;

      label {
        margin: 0;
        width: 100%;
      }
    }

    .facet-hidden {
      display: none;
    }

    .facet-visible {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 25px;
      font-size: 14px;
      margin-right: 6px;
      cursor: pointer;

      input {
        margin-right: 10px;
        cursor: pointer;
      }

      .facet-label-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
      }

      .facet-key {
        color: black;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .facet-key-large {
        font-size: 16;
        font-weight: bold;
        text-transform: uppercase;
        color: $featured-facet-blue;
        padding: 5px;
      }

      .facet-count {
        color: $font-grey-mid;
      }

      &.checked {
        font-size: 16px;
        font-weight: bold;

        .facet-key,
        .facet-count {
          color: $course-blue;
        }
      }

      @include breakpoint(desktop) {
        &:hover {
          font-size: 16px;
          font-weight: bold;

          .facet-key,
          .facet-count {
            color: $course-blue;
          }
        }
      }
    }

    .facet-more-less {
      cursor: pointer;
      color: $search-grey;
      font-size: 14px;
      text-align: right;
    }
  }
}
