.widget-list {
  .card-contents {
    padding: 20px 16px 6px 16px;

    .twitter-embed {
      max-height: 400px;
      overflow: scroll;
    }
  }

  .manage-widgets {
    display: flex;
    margin-bottom: 5px;

    .add-widget,
    .toggle-collapse-all {
      cursor: pointer;
    }

    .toggle-collapse-all {
      margin-left: auto;
    }
  }
}

.configuration-field.number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

$body-x-padding: 40px;
$dialog-max-width: 400px;
$person-z-index: 10;

.widget-dialog {
  .mdc-dialog__container {
    width: 100%;
  }

  .mdc-dialog__surface {
    max-width: 530px;
    width: 100%;
  }

  .mdc-dialog__title,
  .mdc-dialog__content {
    width: 100%;
  }

  .under-text {
    font-size: 11px;
    line-height: 15px;
    margin-top: 5px;
  }

  .react-autosuggest__suggestions-list {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 135px;
    overflow-y: scroll;
    max-width: $dialog-max-width - 2 * $body-x-padding;
    width: 100%;
    box-shadow: 0 10px 20px 3px #888;
    background-color: white;

    // autosuggest should float above people list
    z-index: $person-z-index + 1;
  }
}

.widget {
  font-size: 14px;

  .title-row {
    display: flex;
    margin-bottom: 15px;

    .title {
      margin: 0;
      font-size: 17px;
      font-weight: 700;
    }

    .toggle-collapse {
      cursor: pointer;
      margin-left: auto;
    }
  }

  &,
  a {
    color: black;
  }

  .markdown {
    a {
      color: $link-blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  hr {
    margin: 4px 0;
    border: 0;
    border-top: 1px solid $pale-grey;
  }

  .entry {
    margin-bottom: 10px;

    .entry-title {
      font-size: 16px;
      font-weight: 700;
    }

    .description,
    .time {
      font-size: 14px;
      color: $font-grey-light;
    }

    .description img {
      width: 100%;
    }

    .time {
      margin: 10px 0;
      display: inline-block;
    }
  }

  iframe {
    width: 100%;
  }
}

.people-list {
  display: flex;
  flex-direction: column;

  .see-all-members {
    align-self: flex-end;
  }
}

.person {
  display: flex;
  align-items: center;
  margin: 2px 5px;
  font-size: 14px;
  // z-index is to allow for reordering with react-sortable-hoc to float above dialog
  z-index: $person-z-index;

  // fixing some mdc-dialog overrides
  font-family: $body-font;
  color: black;
  font-weight: unset;
  line-height: normal;
  letter-spacing: normal;

  .avatar {
    margin-right: 5px;
  }

  .description {
    display: flex;
    flex-direction: column;

    .headline {
      color: $font-grey-light;
    }
  }

  .add-profile {
    margin-left: auto;
    margin-bottom: 0;
    padding: 5px 15px;
    color: black;
    background-color: $pale-grey;
  }

  .edit-buttons {
    margin-left: auto;
  }

  &.person-suggestion {
    cursor: pointer;

    .name {
      color: $navy;
      font-size: $modest-font-size;
    }
  }
}

.widget,
.person {
  .edit-buttons {
    user-select: none;
    display: flex;
    flex-direction: row;
    color: black;

    .widget-button {
      cursor: pointer;
      background-color: $pale-grey;
      font-size: 20px;
      padding: 4px;
      border: 2px solid white;
    }

    .drag-handle {
      margin-left: auto;
    }
  }
}

.mdc-dialog {
  .people {
    .search-textbox {
      input {
        background-color: $pale-grey;
        font-weight: inherit;
        font-size: 14px;
        padding: 8px 40px 7px 40px;
      }
    }
  }

  .people-list {
    // shift list so it's offset a little bit from search suggestions
    margin-top: 15px;
  }
}
