{% extends "email_base.html" %}
{% load humanize %}
{% load timeago %}

{% block title %}Open Discussions - New Comment{% endblock %}
{% block styles %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}

<table width="100%" cellpadding="13" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td>
        <div>
          <p>From {{ comment.author_name }}:</p>
          <p class="comment-content">
            {{ comment.text|truncatewords:100 }}
            {% if is_comment_reply %}
              <a href="{{ base_url }}{% url 'channel-post-comment' channel_name=post.channel_name post_id=post.id comment_id=comment.id %}">(read more)</a>
            {% else %}
              <a href="{{ base_url }}{% url 'channel-post' channel_name=post.channel_name post_id=post.id %}">(read more)</a>
            {% endif %}
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="read-more alignleft" style="margin-left: 13px; margin-top: 13px;">
  {% if is_comment_reply %}
  <a href="{{ base_url }}{% url 'channel-post-comment' channel_name=post.channel_name post_id=post.id comment_id=comment.id %}" class="btn-primary">View on Open Discussions</a>
  {% else %}
  <a href="{{ base_url }}{% url 'channel-post' channel_name=post.channel_name post_id=post.id %}" class="btn-primary">View on Open Discussions</a>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
<p>
  You are receiving this email because you are following a post on Open Discussions.
  <br/>
  If you don't want to receive these emails in the future, you can
  <a href="{{ base_url }}{% url 'channel-post' channel_name=post.channel_name post_id=post.id %}">unfollow this post</a>.
</p>
{% endblock %}
