$transitionDelay: "800ms" !default;

.ol-loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  &.MuiCircularProgress-root {
    transition-delay: $transitionDelay;
  }
}