$brand-bg: #a31f34;
$link-blue: #0b51bf;
$button-blue: #0085df;
$footer-button-blue: #3a6080;
$font-black: rgba(0,0,0,.87);
$font-grey: #888;
$font-darkgrey: #666;
$border-grey: #d3d3d3;
$card-background: #fff;
$card-shadow: #cccaca;
$app-background: #f1f1f1;
$bg-blue: #e1f0f6;
$voted-blue: #2573d7;
$validation-bg: #ffe8ec;
$validation-text: #f07183;
$bg-grey: #dad9d9;
$footer-link-color: #4e8398;
$report-count-red: #e21d13;
