$brand-bg: #a31f34;
$link-blue: #0b51bf;
$button-blue: #0085df;
$footer-button-blue: #3a6080;
$font-black: rgba(0, 0, 0, 0.87);
$font-grey: #888;
$font-grey-light: #b0b0b0;
$font-darkgrey: #666;
$border-grey: #d3d3d3;
$border-grey-alt: #cecece;
$card-background: #fff;
$card-shadow: #cccaca;
$app-background: #f1f1f1;
$bg-blue: #e1f0f6;
$voted-blue: #2573d7;
$validation-bg: #ffe8ec;
$validation-text: #f07183;
$bg-grey: #dad9d9;
$bg-light-grey: #f5f5f5;
$footer-link-color: #4e8398;
$report-count-red: #e21d13;
$navigation-text: rgba(0, 0, 0, 0.77);
$subscribed-yellow: #fcffb0;
$toolbar-height-desktop: 76px;
$toolbar-height-mobile: 68px;
$drawer-width: 300px;
$std-border-radius: 3px;
$message-component-bg-color: #323232;
$banner-height: 60px;
$banner-slide-timing: cubic-bezier(0.17, 0.04, 0.03, 0.94);
$banner-slide-trans: top 300ms $banner-slide-timing;
$banner-slide-content-trans: padding-top 300ms $banner-slide-timing;
$material-icon-size: 24px;
