$link-blue: #0079c7;
$font-black: rgba(0,0,0,.87);
$font-grey: #838383;
$border-grey: #d3d3d3;
$card-background: #fff;
$card-shadow: #cccaca;
$app-background: #efefef;
$bg-blue: #c8e8f7;
$voted-blue: #2573d7;
