// Colors
$brand-bg: #a31f34;
$link-blue: #0b51bf;
$button-blue: #0085df;
$footer-button-blue: #3a6080;
$font-black: rgba(0, 0, 0, 0.87);
$font-grey: #888;
$font-grey-mid: #8a8b8c;
$font-grey-light: #b0b0b0;
$font-darkgrey: #666;
$border-grey: #d3d3d3;
$border-grey-alt: #cecece;
$card-background: #fff;
$card-shadow: #cccaca;
$app-background: #f1f1f1;
$bg-blue: #e1f0f6;
$voted-blue: #2573d7;
$validation-bg: #ffe8ec;
$validation-text: #f07183;
$bg-grey: #dad9d9;
$bg-light-grey: #f5f5f5;
$footer-link-color: #4e8398;
$report-count-red: #ead1d5;
$navigation-text: rgba(0, 0, 0, 0.77);
$input-border-grey: #b7b7b7;

// Channel colors
$channel-avatar-bg: #2aab8b;
$channel-banner-bg: #20316d;
$subscribed-yellow: #fcffb0;

$toolbar-height-desktop: 60px;
$toolbar-height-mobile: 60px;
$toolbar-vert-padding: 8px;
$drawer-width: 300px;
$collapse-drawer-width: 65px;
$std-border-radius: 3px;
$message-component-bg-color: #323232;
$banner-height: 60px;
$banner-slide-timing: cubic-bezier(0.17, 0.04, 0.03, 0.94);
$banner-slide-trans: top 300ms $banner-slide-timing;
$banner-slide-content-trans: padding-top 300ms $banner-slide-timing;
$material-icon-size: 24px;
$channel-banner-height: 200px;
$highlight-font-size: 18px;
$title-font-size: 24px;
$normal-font-size: 16px;
$modest-font-size: 14px;
$submission-font-size: $normal-font-size;
$tooltip-font-size: $modest-font-size;
$button-vert-padding: 9px;

// Spacing values for items that appear on the left side of the drawer and toolbar
$icon-padding-left: 19px;
$text-padding-left: 26px;

// redesign colors
$rouge: #a31f34;
$navy: #03152d;
$pale-grey: #f4f6fa;
$white-smoky: #4f4f4f;
$nice-red: #a32034;
$course-blue: #126f9a;
$teal: #3dbdbf;

// font
$body-font: "Source Sans Pro", helvetica, arial, sans-serif !important;

$search-layout-active: #355b6b;
$search-layout-inactive: #c2c0bf;
