.edit-channel {
  .channel-form {
    margin-top: 18px;

    .description {
      textarea {
        height: 250px;
      }
    }
  }

  .edit-channel-navbar,
  .members-navbar {
    margin-bottom: 20px;

    a {
      margin-right: 25px;

      &.active {
        font-weight: 700;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .post-types {
    display: flex;
    flex-direction: column;

    .mdc-form-field {
      display: flex;
      align-items: center;

      label {
        margin: 0;
      }
    }
  }

  .contributors,
  .moderators {
    .row {
      display: flex;
      justify-content: space-between;
    }
  }
}
