.edit-channel {
  min-width: 600px;

  .channel-form {
    margin-top: 18px;

    .description {
      width: 800px;
      max-width: 100%;

      textarea {
        height: 250px;
      }
    }
  }

  .edit-channel-navbar {
    margin-bottom: 20px;

    a {
      margin-right: 25px;

      &.active {
        font-weight: 700;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
