.edit-channel {
  .channel-form {
    margin-top: 18px;

    .description {
      textarea {
        height: 250px;
      }
    }
  }

  .edit-channel-navbar,
  .members-navbar {
    margin-bottom: 20px;

    a {
      margin-right: 25px;

      &.active {
        font-weight: 700;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .post-types {
    display: flex;
    flex-direction: column;

    .mdc-form-field {
      display: flex;
      align-items: center;

      label {
        margin: 0;
      }
    }
  }

  table {
    width: 100%;

    .three-cols {
      td {
        width: 3 * (100%/8);

        &:last-child {
          width: 2 * (100%/8);
        }
      }
    }

    .two-cols {
      width: 50%;
    }

    td:last-child {
      text-align: right;
    }
  }

  .add-member {
    background-color: white;
    border: $link-blue 1px solid;
    color: $link-blue;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
    padding: 9px 16px;
    font-size: 14px;

    &:hover {
      box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
      transition: none;
    }
  }

  .add-member-form {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;

    button[type="submit"] {
      margin: auto;
    }
  }

  .remove {
    cursor: pointer;
  }

  .cant_remove {
    color: grey;
  }

  .membership-notice {
    padding: 5px;
    font-weight: 500;
  }

  input[name="email"] {
    width: 100%;
    margin-right: 10px;
  }

  a {
    cursor: pointer;
  }
}

$avatar-dimension: 90px;

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    margin-left: 20px;
  }

  .avatar {
    display: table;
  }

  .avatar-image {
    border-radius: 15px;
    color: #fff;
    width: $avatar-dimension;
    height: $avatar-dimension;
    display: table;
    overflow: hidden;
  }

  .avatar-initials {
    border-radius: 15px;
    width: $avatar-dimension;
    height: $avatar-dimension;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
  }

  .cropper-view-box {
    border-radius: inherit;
  }
}

.banner-container {
  .banner-image {
    width: 100%;
    display: block;
  }

  .cropper-view-box {
    border-radius: inherit;
  }

  .upload-banner {
    margin-top: 20px;
    display: block;
    text-align: right;
  }
}
