// these are a few fixes for these issues:
// https://github.com/ckeditor/ckeditor5-media-embed/issues/58
// https://github.com/ckeditor/ckeditor5-media-embed/issues/57
// (this fix is in master, we can remove this when they do another release)
.ck-editor.read-only {
  *[contenteditable="false"] {
    .ck-media__wrapper > *:not(.ck-media__placeholder) {
      pointer-events: all;
    }
  }

  // and
  // https://github.com/ckeditor/ckeditor5/issues/1261
  .ck {
    .ck-widget,
    .ck-widget:hover,
    .ck-widget_selected {
      outline: none;
    }
  }
}

.ck-editor__is-empty.ck-content.ck-editor__editable::before {
  content: "Write your article here";
  position: absolute;
  display: block;
  margin: var(--ck-spacing-large) 0;
  color: #aaa;
  cursor: text;
}

.ck-editor:not(.read-only) {
  border-radius: $std-border-radius;
  padding: 25px;

  @include breakpoint(phone) {
    padding: 10px;
  }

  .ck-editor__editable.ck-focused {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid transparent !important;
  }

  .ck.ck-content.ck-editor__editable {
    min-height: 300px;
    padding-left: 0px;

    @include breakpoint(phone) {
      margin-left: 15px;
    }
  }

  .ck.ck-toolbar {
    border: 1px solid $input-border-grey;
    border-radius: $std-border-radius $std-border-radius 0 0;
    position: sticky;
    top: $toolbar-height-desktop;
    z-index: 1;

    @include breakpoint(materialmobile) {
      top: $toolbar-height-mobile;
    }

    > button,
    > div {
      margin: 0;
    }

    .ck-dropdown {
      .ck-dropdown__button {
        margin: 0;
      }
    }
  }
}

:root {
  --ck-icon-size: 22px !important;
}
