// this is a fix for these issues:
// https://github.com/ckeditor/ckeditor5-media-embed/issues/58
// https://github.com/ckeditor/ckeditor5-media-embed/issues/57
//
// the fix is in master, we can remove this when they do another release
.ck-editor.read-only {
  *[contenteditable="false"] {
    .ck-media__wrapper > *:not(.ck-media__placeholder) {
      pointer-events: all;
    }
  }
}

.ck-editor:not(.read-only) {
  border: 1px solid $input-border-grey;
  background: white;
  border-radius: $std-border-radius;

  .ck.ck-toolbar {
    border: none;
    border-bottom: 1px solid $input-border-grey;
    border-radius: $std-border-radius $std-border-radius 0 0;
  }

  @include breakpoint(phone) {
    margin-left: 22px;
  }
}
