.app {
  .auth-page {
    form {
      @include breakpoint(desktop) {
        width: 450px;
      }
    }
  }
}

.alternate-auth-link {
  text-align: center;
  color: $font-grey;

  a:link,
  a:visited {
    text-decoration: underline;
    color: $font-grey;
  }
}

.login-greeting-header {
  display: flex;
  margin: 1em 0;
  line-height: 1.5em;

  .back-button {
    flex-grow: 0;
    color: #000;
    margin-right: 5px;
  }

  h3 {
    padding: 0 $material-icon-size 0 0;
    margin: 0;
    flex-grow: 1;
    text-align: center;
  }
}
