a {
  text-decoration: none;
  color: $link-blue;
}

a.button {
  display: inline-block;
  padding: 17px 40px;
  background: #0085df;
  color: white;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  margin: 10px 0 20px;
}

.link-button {
  display: block;
  padding: 17px 40px;
  text-align: center;
  margin: 10px 0 20px;
}

.float-left {
  float: left;
}
