button,
input[type="submit"],
.mdc-button,
a.link-button,
.dropdown-button {
  background-color: $rouge;
  color: white;
  margin: 0 10px 5px 0;
  padding: 9px 36px;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

button.ck-button {
  color: $navy;
}

.mdc-button.cancel-button,
button.cancel,
a.link-button.cancel,
button.outlined,
a.link-button.outlined {
  background-color: inherit;
  border: 1px solid $rouge;
  color: $rouge;
}

button.dark-outlined {
  background-color: inherit;
  border: 1px solid $navy;
  color: $navy;
}

button.high-contrast-outlined {
  background-color: $navy;
  border: 1px solid $border-grey;
  color: $border-grey;
}

button.opaque {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

button.compact {
  font-size: 12px;
  padding: 9px 7px;
  display: flex;
  align-items: center;

  @include breakpoint(extrawide) {
    padding: 9px 20px;
  }

  i {
    font-size: 16px;
    margin-right: 5px;
  }

  &.extra-compact {
    padding: 3px 8px;
    margin-bottom: 0;
  }
}

button.blue-btn,
a.blue-btn {
  color: white;
  background-color: $course-blue;
}

.grey-surround {
  display: flex;
  align-items: center;
  border-radius: 12.5px;
  cursor: pointer;
  background-color: $pale-grey;
  padding: 2px;
  color: $navy;
  font-size: 12px;
}

.remove {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  padding: 2px 27px;
  margin: 0;
}
