%card {
  width: 100%;
  background-color: $card-background;
  border-radius: 5px;
  margin: 0 0 20px 0;

  .card-contents {
    margin: 0;
    padding: 20px;
  }

  .title {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 7px 10px;
  }
}

.card {
  @extend %card;
}
