.app .content .main-content {
  &.channel-header {
    margin: 0 auto;
    min-height: 0;
  }

  &.channel-page {
    margin-top: 0;

    .post-loader {
      margin-top: 20px;
    }
  }

  &.channel-intra-nav {
    margin: 0 auto 5px;
    min-height: 0;
  }
}

.channel-intra-nav-wrapper {
  background-color: #ffffff;
  padding: 6px 0 0;

  .intra-page-nav {
    display: flex;
    margin-bottom: 0;
    font-size: 18px;

    a {
      padding: 4px 15px;

      &.active {
        color: $rouge;
        border-bottom-color: $rouge;
      }
    }

    .search-link {
      // correct vertical center alignment
      margin-left: auto;
      margin-right: 0;
      padding-bottom: 5px;
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.channel-page-wrapper {
  position: relative;
  width: 100%;

  .channel-page-header {
    margin-bottom: 20px;

    .banner-container {
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }
}

.avatar-headline-row {
  height: $channel-banner-height;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
  }

  .avatar-image,
  .avatar-initials {
    border-radius: 4px;
  }

  .title-and-headline {
    display: flex;
    flex-direction: column;
    color: white;
    height: 57px;

    .title {
      font-size: 22px;
      font-weight: bold;
    }

    .headline {
      font-size: 16px;
    }
  }

  .edit-button {
    color: white;
  }

  .settings-menu {
    position: relative;
    cursor: pointer;
    z-index: 20;

    .settings-menu-dropdown {
      top: 31px;
      right: 0;
    }
  }
}

.channel-about {
  position: relative;
  max-width: 400px;

  .mod-link-wrapper {
    margin: 15px 0;
  }

  .card-contents {
    padding: 15px 26px;
  }

  .title {
    margin-left: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .description {
    font-size: 15px;
    line-height: 1.4;
    color: $font-darkgrey;
  }

  .edit-button {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

$avatar-dimension-medium: 57px;
$avatar-dimension-small: 22px;

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .avatar {
    display: table;
    margin-right: 22px;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  .avatar-image {
    display: table;
    overflow: hidden;
  }

  .avatar-initials {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    background-color: $channel-avatar-bg;
    font-weight: 600;
  }

  &.small-size {
    img,
    .avatar,
    .avatar-initials {
      width: $avatar-dimension-small;
      height: $avatar-dimension-small;
      font-size: 15px;
      border-radius: 4px;
    }
  }

  &.medium-size {
    img,
    .avatar,
    .avatar-initials {
      width: $avatar-dimension-medium;
      height: $avatar-dimension-medium;
      font-size: 32px;
      border-radius: 8px;
    }
  }
}
