.channel-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  .banner-image,
  .default-image {
    width: 100%;
    display: block;
    height: $channel-banner-height;
  }

  .banner-image {
    object-fit: cover;
  }

  .default-image {
    background-color: $channel-banner-bg;
  }

  .upload-banner {
    margin-top: 20px;
    width: fit-content;
    font-size: 16px;
    padding: 2px 15px;
  }
}
