.channel-about {
  position: relative;
  max-width: 400px;

  @include breakpoint(desktop) {
    &:first-child {
      margin-top: 45px; // margin to align with top of main-content card on desktop
    }
  }

  .mod-link-wrapper {
    margin: 15px 0;
  }

  .card-contents {
    padding: 15px 26px;
  }

  .title {
    margin-left: 0;
  }

  .description {
    font-size: 15px;
    line-height: 1.4;
    color: $font-darkgrey;
  }

  .edit-button {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

$avatar-dimension-medium: 90px;
$avatar-dimension-small: 22px;

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .avatar {
    display: table;
  }

  .avatar-image {
    display: table;
    overflow: hidden;
  }

  .avatar-initials {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-weight: 600;
  }

  &.small-size {
    img,
    .avatar,
    .avatar-initials {
      width: $avatar-dimension-small;
      height: $avatar-dimension-small;
    }

    .avatar-initials {
      font-size: $avatar-dimension-small / 2;
    }
  }

  &.medium-size {
    img,
    .avatar,
    .avatar-initials {
      width: $avatar-dimension-medium;
      height: $avatar-dimension-medium;
    }

    .avatar-initials {
      font-size: $avatar-dimension-medium / 4;
    }
  }
}
