.channel-page-wrapper {
  position: relative;
}

.avatar-headline-row {
  position: absolute;
  top: 0;
  height: $channel-banner-height;
  display: flex;
  align-items: center;

  .avatar-image,
  .avatar-initials {
    border-radius: 4px;
  }

  .avatar {
    margin-right: 22px;
  }

  .title-and-headline {
    display: flex;
    flex-direction: column;
    color: white;
    height: 57px;

    .title {
      font-size: 22px;
      font-weight: bold;
    }

    .headline {
      font-size: 16px;
    }
  }
}

.channel-about {
  position: relative;
  max-width: 400px;

  .mod-link-wrapper {
    margin: 15px 0;
  }

  .card-contents {
    padding: 15px 26px;
  }

  .title {
    margin-left: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .description {
    font-size: 15px;
    line-height: 1.4;
    color: $font-darkgrey;
  }

  .edit-button {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

$avatar-dimension-large: 90px;
$avatar-dimension-medium: 57px;
$avatar-dimension-small: 22px;

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .avatar {
    display: table;
  }

  .avatar-image {
    display: table;
    overflow: hidden;
  }

  .avatar-initials {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-weight: 600;
  }

  &.small-size {
    img,
    .avatar,
    .avatar-initials {
      width: $avatar-dimension-small;
      height: $avatar-dimension-small;
      font-size: $avatar-dimension-small / 2;
      border-radius: 4px;
    }
  }

  &.medium-size {
    img,
    .avatar,
    .avatar-initials {
      width: $avatar-dimension-medium;
      height: $avatar-dimension-medium;
    }

    .avatar-initials {
      font-size: $avatar-dimension-medium / 4;
    }
  }

  &.large-size {
    img,
    .avatar,
    .avatar-initials {
      width: $avatar-dimension-large;
      height: $avatar-dimension-large;
    }

    .avatar-initials {
      font-size: $avatar-dimension-large / 4;
    }
  }
}
