.comments {
  .top-level-comment {
    padding: 10px 15px 10px 23px;
  }

  .comment {
    margin: 5px 0;

    .row {
      display: flex;
      flex-direction: row;

      p {
        margin: 0 0 15px 0;
      }

      .votes-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .votes {
          margin-right: 10px;

          .vote {
            display: inline-block;
          }

          .upvoted, .downvoted {
            &:not(:disabled) {
              color: $voted-blue;
            }
          }
        }

        .score {
          margin-right: 10px;
          display: inline-block;
        }
      }
    }

    .author-info {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      color: $font-grey;
      margin: 0 0 12px;

      .author-name {
        padding-right: 4px;
      }
    }

    .replies > .comment {
      padding-left: 25px;
      border-left: 1px solid #e0e0e0;
    }

    .upvote-button, .downvote-button {
      border-right: 1px solid #ccc;
    }
  }

  .reply-button {
    font-size: 0.8em;
    padding: 10px 0;
  }
}

.reply-form {
  width: 100%;
  padding: 10px 0;

  .form-item {
    margin: 0 0 12px 0;
  }

  .cancel-button {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 15px;
  }

  button[type=submit] {
    padding: 7px 14px;
    font-size: 14px;
  }
}


