.comments {
  .top-level-comment {
    padding-top: 5px;
  }

  .comment {
    margin: 5px 0;

    .row {
      display: flex;
      flex-direction: row;

      .votes-form {
        display: flex;
        flex-direction: row;
        align-items: center;

        .votes {
          margin-right: 10px;

          .vote {
            display: block;
          }

          .upvoted, .downvoted {
            border: 2px solid black;
          }
        }

        .score {
          margin-right: 10px;
        }
      }
    }

    .author-info {
      display: flex;
      flex-direction: row;
      font-size: 13px;
      padding-bottom: 8px;

      .author-name {
        padding-right: 4px;
      }
    }

    .replies > .comment {
      margin-left: 25px;
    }
  }
}

.reply-button {
  font-size: 0.8em;
  padding: 10px 0;
}

.reply-form {
  width: 100%;
  max-width: 400px;
  padding: 10px 0;

  textarea {
    width: 100%;
  }

  .cancel-button {
    float: right;
    font-size: 0.8em;
  }
}
