$profileImageWidth: 30px;
$profileImageHeight: $profileImageWidth;
$commentTopMargin: 19px;
$commentPaddingLeftDesktop: 12px;
$commentPaddingLeftPhone: 12px;
$replyPaddingLeft: 8px;

.comments {
  .card {
    margin-bottom: 14px;
  }

  .card-contents {
    padding: 30px 14px 35px;

    @include breakpoint(phone) {
      padding: 22px 13px 25px;
    }
  }

  .top-level-comment {
    padding: 0 15px 0 0;

    @include breakpoint(phone) {
      padding: 0;
    }
  }

  .top-level-comment>.comment {
    margin-top: 0;
  }

  .comment {
    margin: $commentTopMargin 0 0;
    display: flex;
    flex-direction: row;

    img.profile-image {
      width: $profileImageWidth;
      height: $profileImageHeight;

      @include breakpoint(phone) {
        display: none;
      }
    }

    .comment-contents {
      padding-left: $commentPaddingLeftDesktop;
      width: 100%;

      @include breakpoint(phone) {
        width: auto;
        padding-left: $commentPaddingLeftPhone;
      }
    }

    &.removed {
      > .profile-image  {
        opacity: 0.5;
      }

      > .comment-contents {
        > .row.text,
        > .comment-actions .votes-form,
        > .author-info .author-name,
        > .author-info .authored-date,
        > .comment-actions .reply-button,
        > .comment-actions .edit-button {
          opacity: 0.5;
        }
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &.comment-actions {
        margin: 4px 0 5px;
        display: inline-block;

        > div {
          margin-right: 10px;
        }
      }

      p {
        margin: 0;
        color: rgba(0,0,0,.77);
        line-height: 1.3;
        font-size: 15px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;

        &:not(:last-child) {
          margin: 0 0 15px 0;
        }
      }

      @include breakpoint(phone) {
        display: block;
      }
    }

    .votes-form {
      display: inline-block;

      .score {
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        color: #555;
      }

      .upvote-button, .downvote-button {
        margin: 0 10px;
      }

      .pipe {
        color: #b5b5b5;
        font-weight: 200;
      }
    }

    .author-info {
      font-size: 14px;
      color: $font-grey;
      margin: 0 0 5px;

      .author-name {
        display: inline;
        padding-right: 6px;
        font-weight: 500;
        font-size: 15px;
        color: $font-black;
      }

      .removed-note {
        font-style: italic;
        color: $font-black;
        padding-left: 6px;
      }
    }

    .replies {
      border-left: 1px solid #e6e6e6;
      margin-left: 0;

      @include breakpoint(phone) {
        margin-left: 0px;
      }
    }

    .replies > .comment {
      padding-left: $replyPaddingLeft;
    }
  }

  .more-comments {
    margin: $commentTopMargin 0 0;
    padding-left: $profileImageWidth + $commentPaddingLeftDesktop;

    .replies > .more-comments {
      padding-left: $replyPaddingLeft;
    }

    @include breakpoint(phone) {
      width: auto;
      padding-left: $commentPaddingLeftPhone;
    }

    .load-more-comments {
      // style button as a link
      background: none !important;
      color: $link-blue;
      border: none;
      padding: 0 !important;
      font: inherit;
      cursor: pointer;

      .sk-fading-circle {
        margin: 0;
      }
    }
  }

  .comment-action-button {
    font-size: .9em;
    font-weight: 400;
    display: inline-block;
  }
}

.reply-form {
  width: 100%;
  padding: 10px 0;

  .form-item {
    margin: 0 0 12px 0;
  }

  .cancel-button {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 15px;
  }
}
