.content-policy {
  padding: 30px 25px;
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;

  h1 {
  	font-size: 25px;
    font-weight: 400;
    margin: 0 0 25px;
  }

  li {
  	margin: 0 0 10px;
  }
}