.course-toolbar {
  .mdc-toolbar__title {
    display: flex;
    align-items: center;

    .bar {
      margin-bottom: 3px;
    }

    .home-link {
      margin-right: 8px;
    }

    .learning-link {
      font-size: 24px;
      color: $nice-red;
      margin-left: 8px;
    }
  }
}

.row {
  flex-direction: row;
  justify-content: space-between;
}

.drawer-close {
  float: right;
  cursor: pointer;
  text-align: right;
  padding: 5px 10px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0) 25%
  );
}

.course-catalog-title {
  display: flex;
  justify-content: center;

  .title {
    color: white;
    font-size: 40px;
    padding-top: 15px;
    font-weight: bold;
  }
}

.course-searchbox-container {
  display: flex;
  flex-direction: column;

  .link-button {
    align-self: flex-end;
    margin: 22px 0 0 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 9px 30px;
  }
}

.compact-course-summary {
  $child-vert-spacing: 10px;

  font-size: $modest-font-size;

  .card-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    word-break: break-word;

    .column1 {
      display: flex;
      flex-direction: column;
      justify-content: left;
      word-break: break-word;
      width: 100%;
      min-height: 128px;
    }

    .column2 {
      position: relative;
      overflow: hidden;
      min-width: 24px;
      width: 24px;
      margin-left: 10px;
      display: flex;
      justify-content: flex-end;

      &.link-thumbnail {
        min-width: 34%;
        width: 34%;
        overflow: hidden;
        border-radius: 5px;
        height: 128px;
        cursor: pointer;

        img {
          border-radius: 5px;
        }
      }
    }

    .course-platform {
      margin-left: 10px;
    }

    .course-title {
      font-size: 18px;
      font-weight: bold;
      color: $navy;
      cursor: pointer;
    }
  }

  .title-row {
    margin: 0 0 $child-vert-spacing;

    i {
      color: $font-grey-light;
    }
  }

  .preview-body {
    color: $font-grey-mid;
  }

  .preview-footer {
    position: relative;
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;

    > * {
      margin: $child-vert-spacing 7px 0 0;
    }
  }
}

.expanded-course-summary {
  display: flex;
  flex-direction: column;
  font-size: $submission-font-size;
  line-height: 1.3;
  padding: 0px 20px;

  .course-image-div {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;

    img {
      display: block;
      margin: auto;
    }
  }

  .course-title {
    font-size: 24px;
    color: $navy;
  }

  .course-subheader {
    font-size: 16px;
    color: $navy;
    font-weight: bold;
    line-height: 1.5em;
    height: 32px;
    margin-top: 10px;
  }

  .course-description {
    font-size: 16px;
    color: $font-grey-mid;
  }

  .course-topics {
    display: flex;
    flex-flow: wrap;
  }

  .course-info-row {
    display: flex;
    cursor: default;
    margin-bottom: 10px;

    div {
      margin-left: 10px;
    }
  }

  .course-links {
    display: flex;
    justify-content: space-between;
  }
}

.facet {
  display: inline-flex;
  cursor: default;
  padding: 2px 10px;
  font-size: 14px;
  margin: 0px 5px 5px 0px;
}

.topic {
  cursor: pointer;
}

.clamp-lines {
  div {
    margin-top: 10px;
  }

  button {
    display: inline;
    background-color: transparent;
    color: $navy;
    margin: 0px;
    padding: 0px;
    font-size: inherit;
    font-family: inherit;
  }
}

.search-page {
  .layout-buttons {
    display: flex;

    i {
      cursor: pointer;
      font-size: 40px;
      color: $search-layout-inactive;
    }

    .active i {
      color: $search-layout-active;
    }
  }
}
