.course-filter-drawer-open {
  position: fixed;
  top: $toolbar-height-mobile;
  height: calc(100% - #{$toolbar-height-mobile});
  left: 0;
  background: white;
  width: 100%;
  overflow: scroll;

  .contents {
    margin: 0 20px;
  }

  .controls {
    display: flex;
    justify-content: flex-end;

    i {
      margin-right: 18px;
      margin-top: 18px;
      font-size: 33px;
      cursor: pointer;
    }
  }

  .apply-filters {
    margin: 25px;

    button {
      width: 100%;
      font-size: 20px;
    }
  }
}
