.course-facets {
  .facet-title {
    font-size: 18px;
    font-weight: bold;
  }

  .divider {
    padding-top: 20px;
  }

  .mdc-form-field {
    display: flex;
    align-items: center;

    label {
      margin: 0;
    }
  }
}

.course-search-input {
  max-width: 600px;
  margin: auto;
}

.row {
  flex-direction: row;
  justify-content: space-between;
}

.drawer-close {
  float: right;
  cursor: pointer;
  text-align: right;
  padding: 5px 10px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0) 25%
  );
}

.compact-course-summary {
  $child-vert-spacing: 10px;

  font-size: $modest-font-size;

  .card-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    word-break: break-word;
    cursor: pointer;

    .column1 {
      display: flex;
      flex-direction: column;
      justify-content: left;
      word-break: break-word;
      width: 100%;
      height: 123px;
    }

    .column2 {
      position: relative;
      overflow: hidden;
      min-width: 24px;
      width: 24px;
      margin-left: 10px;
      display: flex;
      justify-content: flex-end;

      &.link-thumbnail {
        min-width: 34%;
        width: 34%;
        overflow: hidden;
        border-radius: 5px;
        height: 123px;

        img {
          border-radius: 5px;
        }
      }
    }

    .flexless {
      display: inline;
    }

    .course-info {
      span,
      div {
        cursor: default;
      }
    }

    .course-platform {
      margin-left: 10px;
    }

    .course-price {
      cursor: default;
    }

    .course-title {
      font-size: 18px;
      font-weight: bold;
      color: $navy;
    }
  }

  .title-row {
    margin: 0 0 $child-vert-spacing;

    i {
      color: $font-grey-light;
    }
  }

  .preview-body {
    color: $font-grey-mid;
    height: 123px;
  }

  .preview-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    > * {
      margin: $child-vert-spacing 7px 0 0;
    }
  }
}

.expanded-course-summary {
  display: flex;
  flex-direction: column;
  font-size: $submission-font-size;
  line-height: 1.3;
  padding: 0px 20px;

  .course-image-div {
    img.course-image {
      width: 100%;
    }
  }

  .course-title {
    font-size: 24px;
    color: $navy;
  }

  .course-subheader {
    font-size: 16px;
    color: $navy;
    font-weight: bold;
    line-height: 1.5em;
    height: 32px;
    margin-top: 10px;
  }

  .course-description {
    font-size: 16px;
    color: $font-grey-mid;
  }

  .course-topics {
    display: flex;
    flex-flow: wrap;

    .grey-surround {
      font-size: 16px !important;
      margin-right: 5px;
      cursor: default;
    }
  }

  .course-info-row {
    display: flex;
    cursor: default;
    margin-bottom: 10px;

    div {
      margin-left: 10px;
    }
  }

  .course-links {
    display: flex;
    justify-content: space-between;

    .course-links-right {
      display: flex;
      height: 50px;
      align-content: flex-end;
      align-items: center;
      color: $font-grey-mid;

      img {
        height: 24px;
        padding-left: 5px;
      }
    }
  }
}

.clamp-lines {
  div {
    margin-top: 10px;
  }

  button {
    display: inline;
    background-color: transparent;
    color: $navy;
    margin: 0px;
    padding: 0px;
    font-size: inherit;
    font-family: inherit;
  }
}
