.course-toolbar {
  .mdc-toolbar__title {
    display: flex;
    align-items: center;

    .bar {
      margin-bottom: 3px;
    }

    .home-link {
      margin-right: 8px;
    }

    .section-link {
      font-size: 24px;
      color: $nice-red;
      margin-left: 8px;
    }
  }

  .user-menu-section {
    max-width: 200px;
    justify-content: space-between;
    flex-grow: 1;

    @include breakpoint(phone) {
      justify-content: flex-end;
      flex-grow: unset;
    }

    .user-list-link {
      color: black;
      display: flex;
    }
  }
}

.row {
  flex-direction: row;
  justify-content: space-between;
}

.lr-drawer {
  .drawer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0) 25%
    );

    .back,
    .drawer-close {
      cursor: pointer;
      margin: 10px;
    }

    .drawer-close {
      margin-right: 10px;
    }
  }
}

.course-catalog-title {
  display: flex;
  justify-content: center;

  .title {
    color: white;
    font-size: 40px;
    padding-top: 15px;
    font-weight: bold;
  }
}

.course-searchbox-container {
  display: flex;
  flex-direction: column;

  .link-button {
    align-self: flex-end;
    margin: 22px 0 0 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 9px 30px;
  }
}

.compact-course-summary {
  $child-vert-spacing: 10px;

  font-size: $modest-font-size;

  .card-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    word-break: break-word;

    .column1 {
      display: flex;
      flex-direction: column;
      justify-content: left;
      word-break: break-word;
      width: 100%;
      min-height: 128px;
    }

    .column2 {
      position: relative;
      overflow: hidden;
      min-width: 24px;
      width: 24px;
      margin-left: 10px;
      display: flex;
      justify-content: flex-end;

      &.link-thumbnail {
        min-width: 34%;
        width: 34%;
        overflow: hidden;
        border-radius: 5px;
        height: 128px;
        cursor: pointer;

        img {
          border-radius: 5px;
        }
      }
    }

    .course-platform {
      margin-left: 10px;
    }

    .course-title {
      font-size: 18px;
      font-weight: bold;
      color: $navy;
      cursor: pointer;
    }
  }

  .title-row {
    margin: 0 0 $child-vert-spacing;

    i {
      color: $font-grey-light;
    }
  }

  .preview-body {
    color: $font-grey-mid;
  }

  .preview-footer {
    position: relative;
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;

    > * {
      margin: $child-vert-spacing 7px 0 0;
    }
  }
}

.facet {
  display: inline-flex;
  cursor: default;
  padding: 2px 10px;
  font-size: 14px;
  margin: 0px 5px 5px 0px;
}

.topic {
  cursor: pointer;
}

.clamp-lines {
  div {
    margin-top: 10px;
  }

  button {
    display: inline;
    background-color: transparent;
    color: $navy;
    margin: 0px;
    padding: 0px;
    font-size: inherit;
    font-family: inherit;
  }
}

.search-page {
  .suggestion {
    padding-bottom: 10px;
  }

  .layout-buttons {
    display: flex;
    align-items: center;

    .option {
      height: 40px;

      &:first-child {
        padding-right: 20px;
      }
    }

    i {
      cursor: pointer;
      font-size: 40px;
      color: $search-layout-inactive;
    }

    .active i {
      color: $search-layout-active;
    }

    .results-count {
      margin-left: 50px;
      margin-right: 20px;
      font-size: 14px;
      color: black;

      @include breakpoint(phone) {
        margin-left: auto;
      }
    }
  }
}

.select-semester-div {
  margin-left: auto !important;
  width: 50%;
  text-align: right;
}

.centered {
  align-items: center;
}

.bordered {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.wide-view-more {
  display: flex;
  justify-content: center;

  a {
    max-width: 424px;
    margin: 0 20px;
    width: 100%;
  }
}
