.course-carousel {
  &:first-child {
    .title-row {
      margin-top: 10px;
    }
  }

  .slider-list {
    max-height: 365px;
  }

  .title {
    font-size: $title-font-size;
    color: $nice-red;
    font-weight: bold;
  }

  .title-row {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }

  .slider-control-centerright {
    right: -40px !important;
  }

  .slider-control-centerleft {
    left: -42px !important;
  }

  .carousel-control {
    height: 60px;
    width: 60px;
    background: #d8d8d8;
    border-radius: 200px;
    opacity: 0.5;
    cursor: pointer;

    i {
      color: white;
      font-size: 62px;
    }
  }
}
