.course-card {
  @extend %card;

  width: initial;
  border: 1px solid #c2c0bf;
  margin-bottom: 0;
  font-family: roboto;

  .card-contents {
    padding: 16px;
  }

  .cover-image {
    height: 171px;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
      height: 171px;
    }
  }

  .row {
    display: flex;

    &.course-title {
      margin: 15px 0 10px 0;
      min-height: 40px;
      font-size: 16px;
      color: black;
      font-weight: 500;
      cursor: pointer;
    }

    &.topics {
      min-height: 108px;
      display: inline-block;

      .topic {
        font-size: 14px;
        color: white;
        background-color: $teal;
        display: inline-block;
        padding: 4px 10px;
        height: 100%;
        border-radius: 15px;
        margin: 5px 8px 5px 0;
      }
    }

    &.availability,
    &.price {
      font-weight: 500;
      font-size: 14px;
    }
  }

  .blue-bottom-border {
    background-color: $course-blue;
    height: 12px;
    border-radius: 0 0 5px 5px;
  }

  .course-platform {
    max-height: 32px;
    margin: 7px 0;
  }
}
