.article-banner-image-wrapper {
  display: inline-block;
  width: 100%;
  background-color: white;
  border-radius: $std-border-radius;

  .article-banner-image {
    margin: 10px;
    min-height: 115px;
    background-color: $pale-grey;
    display: flex;
    align-items: center;
    flex-direction: column;

    .photo-dropzone {
      height: 150px;
    }

    .cover-img-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 100%;
      }

      button {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
