.new-post-card {
  .card-contents {
    .embedly-preview {
      max-width: 770px;

      .preview-header {
        font-size: 14px;
        font-style: italic;
        color: $font-grey;
        padding-bottom: 10px;

        @include breakpoint(desktopwide) {
          padding-bottom: 0;
        }
      }
    }

    .post-types {
      display: flex;
      flex-direction: row;
      box-shadow: 0px 7px 6px -3px rgba(0, 0, 0, 0.1);
      margin: 0 -15px 33px -15px;
      padding: 0 20px;

      .new-text-post, .new-link-post {
        padding: 10px 29px 17px ;
        color: #585858;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;

        @include breakpoint(phone) {
          padding: 10px 15px 17px;
        }
      }

      & > div {
        cursor: pointer;
      }

      .active {
        border-bottom: 4px solid #0085df;
        font-weight: 500;
        color: #000;
      }
    }

    .posting-to-channel, .posting-policy {
      font-size: 1rem;
      color: $font-grey;
    }
  }
}
