.new-post-card {
  .card-contents {
    .row {
      margin: 10px 10px 24px 15px;

      &.post-types>div {
        cursor: pointer;
      }

      .validation-message {
        background-color: $validation-bg;
        color: $validation-text;
        font-size: 14px;
        padding: 5px;
      }
    }

    .post-types {
      display: flex;
      flex-direction: row;
      box-shadow: 0px 7px 6px -3px rgba(0, 0, 0, 0.1);
      margin: 0 -15px 33px -15px;
      padding: 0 20px;

      .new-text-post, .new-link-post {
        padding: 10px 29px 17px ;
        color: #585858;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;

        @include breakpoint(phone) {
          padding: 10px 15px 17px;
        }
      }

      .active {
        border-bottom: 4px solid #0085df;
        font-weight: 500;
        color: #000;
      }
    }

    .posting-to-channel, .posting-policy {
      font-size: 1rem;
      color: $font-grey;
    }
  }
}
