.new-post-form {
  .channel-select {
    max-width: 300px;
  }

  .post-types {
    display: flex;
    flex-direction: row;

    .write-something {
      margin-right: 5px;
    }

    .write-something,
    .share-a-link {
      font-weight: 400;
      font-size: 14px;
      display: flex;
      align-items: center;
      color: $font-grey;
      background-color: $app-background;
      border: 1px solid $border-grey;
      border-radius: $std-border-radius;
      padding: 3px 10px;
      cursor: pointer;

      i {
        font-size: 16px;
        margin-right: 5px;
      }
    }

    & > div {
      cursor: pointer;
    }

    .active {
      border-bottom: 4px solid #0085df;
      font-weight: 500;
      color: #000;
    }
  }

  .post-content {
    position: relative;

    .close-button {
      background: white;
      border-radius: 50%;
      position: absolute;
      top: -11px;
      right: -11px;
      border: 1px solid $border-grey;
      height: 24px;
      width: 24px;
      display: flex;
      cursor: pointer;

      i {
        font-size: 21px;
        color: $font-grey;
        margin: auto;
      }
    }
  }

  .posting-to-channel,
  .posting-policy {
    font-size: 1rem;
    color: $font-grey;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }
}
