.new-post-form {
  textarea {
    resize: none;
  }

  select {
    background-color: white;
  }

  .post-types {
    display: flex;
    flex-direction: row;

    button {
      margin-right: 5px;
    }

    & > div {
      cursor: pointer;
    }

    .active {
      border-bottom: 4px solid #0085df;
      font-weight: 500;
      color: #000;
    }
  }

  .post-content {
    position: relative;

    .editor {
      min-height: 300px;
    }
  }

  .posting-to-channel,
  .posting-policy {
    font-size: 1rem;
    color: $font-grey;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }

  .article {
    .article-banner-image-wrapper {
      display: inline-block;
      width: 100%;
      background-color: white;
      border-radius: $std-border-radius;

      .article-banner-image {
        margin: 10px;
        min-height: 115px;
        background-color: $pale-grey;
        display: flex;
        align-items: center;
        flex-direction: column;

        .msg {
          color: $font-grey-light;
          padding-bottom: 15px;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}
