.new-post-form {
  textarea {
    resize: none;
  }

  select {
    background-color: white;
  }

  .post-types {
    display: flex;
    flex-direction: row;

    .write-something {
      margin-right: 5px;
    }

    .write-something,
    .share-a-link {
      font-weight: 400;
      font-size: 14px;
      display: flex;
      align-items: center;
      color: white;
      background-color: $rouge;
      border-radius: 4px;
      padding: 9px 20px;
      cursor: pointer;

      i {
        font-size: 16px;
        margin-right: 5px;
      }
    }

    & > div {
      cursor: pointer;
    }

    .active {
      border-bottom: 4px solid #0085df;
      font-weight: 500;
      color: #000;
    }
  }

  .post-content {
    position: relative;

    .editor {
      min-height: 300px;
    }
  }

  .posting-to-channel,
  .posting-policy {
    font-size: 1rem;
    color: $font-grey;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }
}
