.mdc-dialog__container {
  .mdc-dialog__title {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    padding-top: 5px;

    &::before {
      content: none;
    }

    i {
      font-size: 30px;
      cursor: pointer;
    }
  }
}
