.mdc-drawer.mdc-drawer--persistent {
  position: fixed;
  left: 0;
  height: calc(100vh - #{$toolbar-height-desktop});
  top: $toolbar-height-desktop;
  width: $drawer-width;

  .mdc-drawer__drawer {
    // Height and width copied from above to support the ScrollArea component
    height: calc(100vh - #{$toolbar-height-desktop});
    width: $drawer-width;

    .scrollbar-container {
      display: none;
    }

    &:hover .scrollbar-container {
      display: block;
    }
  }
}

.drawer-mobile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;

  a {
    padding-left: 35px;

    @include breakpoint(materialmobile) {
      padding-left: 20px;
    }
  }

  a.material-icons {
    color: $brand-bg;
  }

  .mitlogo {
    margin: 10px 0 0 7px;
  }
}
