ul.dropdown-menu {
  margin: 0;
  padding: 3px 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $card-background;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  list-style: none;
  z-index: 10;

  a {
    text-decoration: none;
    color: $navy;
    white-space: nowrap;
  }

  li {
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer;
  }

  &.post-comment-dropdown {
    padding: 0 10px;

    li {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    a {
      font-size: 12px;
    }
  }
}
