.embedly {
  .video-container {
    padding: 15px 0;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .photo {
    img {
      max-height: 600px;
      max-width: 100%;
    }
  }

  .link {
    display: flex;
    flex-direction: column;
    color: $font-black;
    font-weight: 400;

    @include breakpoint(desktopwide) {
      flex-direction: row;
    }

    .thumbnail {
      width: 100%;
      text-align: center;

      img {
        max-height: 500px;
        object-fit: scale-down;
        max-width: 100%;
        margin-bottom: 10px;
      }

      @include breakpoint(desktopwide) {
        height: 200px;
        width: 300px;
        flex: none;

        img {
          max-height: 200px;
        }
      }
    }

    .link-summary {
      @include breakpoint(desktopwide) {
        margin-left: 22px;
      }

      h2 {
        margin: 0 0 15px 0;
        font-size: 21px;
        font-weight: 500;
      }

      .description {
        font-size: 15px;
      }
    }
  }
}
