.embedly {
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .photo {
    img {
      max-height: 400px;
      object-fit: scale-down;
      width: 100%;
    }
  }

  .link {
    display: flex;
    flex-direction: column;
    color: $font-black;
    font-weight: 400;

    @include breakpoint(desktopwide) {
      flex-direction: row;
    }


    .thumbnail {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      max-height: 300px;
      width: 100%;
      justify-content: center;

      @include breakpoint(desktopwide) {
        height: 200px;
        width: 300px;
        flex: none;
      }


      img {
        width: 100%;
        height: auto;
      }
    }

    .link-summary {
      @include breakpoint(desktopwide) {
        margin-left: 15px;
      }


      .description {
        font-size: 15px;
      }
    }
  }
}
