.form {
  .form-item {
    margin: 0 0 28px 0;
    color: rgba(0, 0, 0, 0.87);

    .label,
    .input {
      display: block;
    }
  }

  .row {
    margin: 10px 10px 24px 15px;

    .validation-message {
      background-color: $validation-bg;
      color: $validation-text;
      font-size: 14px;
      padding: 5px;
    }
  }
}

.form-field {
  margin: 0 0 28px 0;
  color: rgba(0, 0, 0, 0.87);
}

.profile-name {
  height: 109px;
  display: table-cell;
  vertical-align: middle;
}

input[type="email"],
input[type="text"],
input[type="url"],
input[type="password"] {
  width: 100%;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: $std-border-radius;
  border: 1px solid #b7b7b7;
  transition: width 0.4s ease-in-out;
  box-sizing: border-box;

  &:disabled {
    background: #f7f7f7;
    border-color: #ccc;
  }
}

textarea {
  width: 100%;
  height: 110px;
  padding: 12px 10px;
  box-sizing: border-box;
  border-radius: $std-border-radius;
  border: 1px solid #b7b7b7;
  background-color: #fff;
  resize: auto;
  font-size: 15px;
  font-family: inherit;

  &.no-height {
    height: auto;
  }
}

label {
  display: block;
  margin: 0 0 6px 0;
  font-family: roboto, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #777;

  .highlight {
    color: #000;
  }
}

label.radiolabel {
  display: inline-block;
  margin: 0 15px 6px 0;
  font-family: roboto, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

input[type="submit"],
button[type="submit"],
button.cancel,
a.buttonLink {
  background-color: $button-blue;
  color: white;
  margin: 0 10px 5px 0;
  padding: 9px 16px;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: none;
  }
}

button.cancel,
button.disabled,
a.buttonLink.cancel {
  background: #cecece;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  font-size: 16px;
}

select {
  background: #f8f8f8;
  border: 1px solid #bbb;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
  border-radius: $std-border-radius;
  height: 39px;
  padding: 8px 20px; /* If you add too much padding here, the options won't show in IE */
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: #bbb;
}

.validationerror {
  display: none;
  background: #ffe8ec;
  color: #f15a74;
  padding: 8px;
  font-size: 15px;
}

.actions {
  margin-top: 20px;
}
