@import "node_modules/bulma/bulma";
@import "variables";
@import "basic";
@import "breadcrumbs";
@import "form";
@import "post";
@import "card";
@import "createPost";
@import "sidebar";
@import "comment";
@import "subscriptions";

body {
  font-family: 'Roboto', helvetica, arial, sans-serif !important;
  background-color: $app-background;
  margin: 0;
  padding: 0;
  color: $font-black;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  margin-top: 20px;

  .single-column {
    margin: auto;
    width: 90%;  // arbitrarily chosen
    max-width: 700px;
  }

  .double-column {
    margin: auto;
    width: 90%;
    max-width: 1100px;

    .first-column {
      width: 70%;
      float: left;
    }

    .second-column {
      width: 30%;
      float: left;
      padding-left: 15px;
    }
  }

  .triple-column {
    margin: auto;
    width: 1300px;

    .first-column {
      width: 15%;
      float: left;
    }

    .second-column {
      width: 70%;
      float: left;

      .card {
        margin-left: 10px;
      }
    }

    .third-column {
      width: 15%;
      float: left;
    }
  }
}

.clear {
  clear: both;
  line-height: 0;
}
