@import "node_modules/@material/drawer/dist/mdc.drawer";
@import "node_modules/@material/toolbar/dist/mdc.toolbar";
@import "node_modules/@material/list/dist/mdc.list";
@import "node_modules/@material/button/dist/mdc.button";
@import "node_modules/@material/snackbar/dist/mdc.snackbar";
@import "node_modules/@material/dialog/dist/mdc.dialog";
@import "node_modules/@material/radio/dist/mdc.radio";
@import "node_modules/@material/checkbox/dist/mdc.checkbox";
@import "node_modules/material-components-web/dist/material-components-web";
@import "node_modules/spinkit/scss/spinners/7-three-bounce";
@import "node_modules/spinkit/scss/spinners/10-fading-circle";
@import "breakpoints";
@import "variables";
@import "card";
@import "basic";
@import "breadcrumbs";
@import "form";
@import "post";
@import "post-list";
@import "createPost";
@import "sidebar";
@import "channel";
@import "comment";
@import "button";
@import "navigation";
@import "loader";
@import "profile";
@import "profile-image";
@import "auth-required";
@import "content-policy";
@import "admin";
@import "not-found";
@import "footer";
@import "reports";
@import "sort-picker";
@import "settings";
@import "user-info";
@import "embedly";
@import "user-menu";
@import "cropper";
@import "drawer";
@import "dropdown-menu";

body {
  font-family: 'Roboto', helvetica, arial, sans-serif !important;
  background-color: $app-background;
  margin: 0;
  padding: 0;
  color: $font-black;
}

.app {
  width: 100%;
  min-height: 100vh;

  .persistent-drawer-open + .content {
    padding-left: 240px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $toolbar-height-desktop;

    @include breakpoint(materialmobile) {
      padding-top: $toolbar-height-mobile;
    }

    .main-content {
      margin-top: 20px;
      margin-bottom: 50px;
      min-height: calc(100vh - #{$toolbar-height-desktop});

      @include breakpoint(materialmobile) {
        min-height: calc(100vh - #{$toolbar-height-mobile});
      }

      &.one-column {
        width: 80%;
        max-width: 950px;

        @include breakpoint(mobile) {
          width: 90%;
        }

        @include breakpoint(phone) {
          width: 95%;
        }
      }

      &.two-column {
        display: flex;
        width: 90%;

        @include breakpoint(desktop) {
          flex-direction: row;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          max-width: 1300px;

          > :first-child {
            width: 66%;
            margin-right: 20px;
          }
        }

        @include breakpoint(mobile) {
          flex-direction: column;
        }
        @include breakpoint(phone) {
          width: 95%;
        }
      }
    }
  }
}
