@import "node_modules/@material/drawer/dist/mdc.drawer";
@import "node_modules/@material/toolbar/dist/mdc.toolbar";
@import "node_modules/@material/list/dist/mdc.list";
@import "node_modules/@material/button/dist/mdc.button";
@import "node_modules/spinkit/scss/spinners/7-three-bounce";
@import "node_modules/spinkit/scss/spinners/10-fading-circle";
@import "breakpoints";
@import "variables";
@import "basic";
@import "breadcrumbs";
@import "form";
@import "post";
@import "post-list";
@import "card";
@import "createPost";
@import "sidebar";
@import "channel";
@import "comment";
@import "button";
@import "navigation";
@import "loader";
@import "profile-image";
@import "auth-required";
@import "content-policy";

body {
  font-family: 'Roboto', helvetica, arial, sans-serif !important;
  background-color: $app-background;
  margin: 0;
  padding: 0;
  color: $font-black;
}

.app {
  width: 100%;

  .content {
    @include breakpoint(desktop) {
      display: flex;
      flex-direction: row;
      margin: auto;
      max-width: 1400px;
    }

    .sidebar {
      @include breakpoint(desktop) {
        margin-top: 13px;
        max-width: 300px;
        margin-right: 0;
        width: 23%;
      }

      @include breakpoint(mobile) {
        margin: 5px 12px;
      }

      // left sidebar is always navigation, so hide it in mobile
      &.sidebar-left {
        @include breakpoint(mobile) {
          display: none;
        }
      }
    }

    .main-content {
      margin-top: 20px;

      @include breakpoint(desktop) {
        margin-left: auto;
        margin-right: auto;
      }

      @include breakpoint(mobile) {
        margin: 10px 12px;
      }
    }

    // styles for only one sidebar being present
    &.has-left-sidebar, &.has-right-sidebar {
      .main-content {
        @include breakpoint(desktop) {
          margin-left: 40px;
          margin-right: 40px;
          width: 72%;
        }
      }
    }

    // styles for both sidebars being present
    &.has-left-sidebar.has-right-sidebar {
      .main-content {
        @include breakpoint(desktop) {
          width: 48%;
        }
      }
    }
  }
}
