@import "node_modules/@material/drawer/dist/mdc.drawer";
@import "node_modules/@material/toolbar/dist/mdc.toolbar";
@import "node_modules/@material/list/dist/mdc.list";
@import "node_modules/@material/button/dist/mdc.button";
@import "node_modules/@material/snackbar/dist/mdc.snackbar";
@import "node_modules/@material/dialog/dist/mdc.dialog";
@import "node_modules/@material/radio/dist/mdc.radio";
@import "node_modules/@material/checkbox/dist/mdc.checkbox";
@import "node_modules/material-components-web/dist/material-components-web";
@import "node_modules/spinkit/scss/spinners/7-three-bounce";
@import "node_modules/spinkit/scss/spinners/10-fading-circle";
@import "node_modules/prosemirror-example-setup/style/style";
@import "node_modules/prosemirror-view/style/prosemirror";
@import "breakpoints";
@import "variables";
@import "extensions";
@import "card";
@import "basic";
@import "breadcrumbs";
@import "form";
@import "post";
@import "post-list";
@import "create-post";
@import "sidebar";
@import "channel";
@import "comment";
@import "button";
@import "navigation";
@import "loader";
@import "profile";
@import "profile-image";
@import "auth-required";
@import "content-policy";
@import "admin";
@import "not-found";
@import "reports";
@import "picker";
@import "settings";
@import "user-info";
@import "embedly";
@import "user-menu";
@import "cropper";
@import "drawer";
@import "banner";
@import "snackbar";
@import "dropdown-menu";
@import "auth";
@import "popup";
@import "editor";
@import "add-link-menu";
@import "close-button";
@import "intra-page-nav";
@import "channel-banner";
@import "markdown";
@import "link";
@import "home-page";
@import "search";
@import "article";
@import "widget";
@import "cover-image";

body {
  font-family: "Source Sans Pro", helvetica, arial, sans-serif !important;
  background-image: linear-gradient(123deg, #e5e9f4, #ffffff);
  margin: 0;
  padding: 0;
  color: $font-black;
}

.app {
  width: 100%;
  min-height: 100vh;

  .mdc-layout-grid {
    padding: 0;
  }

  .persistent-drawer-open ~ .content {
    padding-left: $drawer-width;
  }

  .banner--active ~ .content {
    padding-top: $toolbar-height-desktop + $banner-height;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $toolbar-height-desktop;
    transition: $banner-slide-content-trans;

    @include breakpoint(materialmobile) {
      padding-top: $toolbar-height-mobile;
    }

    .main-content {
      margin-top: 20px;
      margin-bottom: 50px;
      min-height: calc(100vh - #{$toolbar-height-desktop});

      @include breakpoint(materialmobile) {
        min-height: calc(100vh - #{$toolbar-height-mobile});
      }

      &.one-column {
        width: 80%;
        max-width: 950px;

        @include breakpoint(mobile) {
          width: 90%;
        }

        @include breakpoint(phone) {
          width: 95%;
        }
      }

      &.two-column {
        width: 90%;

        @include breakpoint(desktop) {
          max-width: 960px;
        }

        @include breakpoint(phone) {
          width: 95%;
        }
      }
    }
  }
}
