@import "node_modules/@material/drawer/dist/mdc.drawer";
@import "node_modules/@material/toolbar/dist/mdc.toolbar";
@import "node_modules/@material/list/dist/mdc.list";
@import "node_modules/@material/button/dist/mdc.button";
@import "node_modules/spinkit/scss/spinners/7-three-bounce";
@import "breakpoints";
@import "variables";
@import "basic";
@import "breadcrumbs";
@import "form";
@import "post";
@import "post-list";
@import "card";
@import "createPost";
@import "sidebar";
@import "comment";
@import "button";
@import "navigation";
@import "loader";
@import "profile-image";

body {
  font-family: 'Roboto', helvetica, arial, sans-serif !important;
  background-color: $app-background;
  margin: 0;
  padding: 0;
  color: $font-black;
}

.app {
  width: 100%;

  .content {
    @include breakpoint(desktop) {
      display: flex;
      flex-direction: row;
      margin: auto;
      max-width: 1400px;
    }

    .sidebar {
      @include breakpoint(desktop) {
        margin-top: 35px;
        max-width: 300px;
        margin-right: 0;
        width: 23%;
      }

      @include breakpoint(mobile) {
        display: none;
      }
    }

    .main-content {
      margin-top: 20px;

      @include breakpoint(desktop) {
        width: 72%;
        margin-left: auto;
        margin-right: auto;
      }

      @include breakpoint(mobile) {
        margin: 10px 12px;
      }
    }
  }
}
