.learning-resource-card {
  width: initial;
  margin-bottom: 0;
  font-family: roboto;

  &.borderless {
    .lr-info {
      padding: 16px;
    }

    .cover-image img {
      border-radius: 5px 5px 0 0;
    }
  }

  &.list-view {
    .card-contents {
      display: flex;

      .cover-image {
        height: 130px;
        margin-left: 16px;
        width: 46%;

        img {
          height: 130px;
          border-radius: 3px;
        }
      }
    }

    .lr-info {
      display: flex;
      flex-direction: column;
      min-width: 64%;
      width: 64%;

      .availability-price-favorite {
        margin-top: 12px;
      }

      .course-title {
        min-height: 0;
        margin: 0;
        margin-top: 6px;
        margin-bottom: 10px;
      }

      .subtitle {
        margin-bottom: 6px;
      }
    }
  }

  .cover-image {
    height: 171px;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
      height: 171px;
    }
  }

  .row {
    display: flex;

    &.resource-type {
      font-size: 13px;
      color: $font-grey-mid;
      text-transform: uppercase;
      font-weight: 500;
    }

    &.course-title {
      margin: 10px 0;
      margin-top: 2px;
      min-height: 40px;
      font-size: 18px;
      color: black;
      font-weight: 500;
      cursor: pointer;
    }

    &.subtitle {
      margin-bottom: 5px;

      .lr-subtitle {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

        .grey {
          color: $font-grey-light;
        }
      }
    }

    &.availability-price-favorite {
      justify-content: flex-start;
      margin-top: 25px;

      .availability,
      .price {
        font-size: 12px;
        padding-right: 10px;

        i {
          font-size: 12px;
          margin-right: 4px;
        }
      }

      .price {
        margin-right: 5px;
      }

      .favorite {
        margin-left: auto;
        cursor: pointer;
        height: 18px;
        width: 18px;
      }
    }
  }
}

.lr-portrait-loader {
  height: 354px;
}
