.learning-resource-card {
  width: initial;
  margin-bottom: 0;
  font-family: roboto;
  cursor: initial;

  &.reordering {
    cursor: pointer;

    .card-contents {
      padding-left: 8px;
    }

    .lr-info {
      width: 100% !important;
    }
  }

  .drag-handle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    border-right: 2px solid $font-grey-light;
    cursor: pointer;

    i {
      font-size: 40px;
      color: $font-grey-light;
    }
  }

  &.borderless {
    .lr-info {
      padding: 16px;
      height: 160px;
    }

    .cover-image img {
      border-radius: 5px 5px 0 0;
    }
  }

  &.list-view {
    &:not(.reordering) {
      .lr-info {
        height: 130px;
      }
    }

    .card-contents {
      display: flex;

      .cover-image {
        height: 130px;
        margin-left: 16px;
        width: 46%;
        position: relative;

        @include breakpoint(phone) {
          display: none;
        }

        img {
          height: 130px;
          border-radius: 3px;
        }

        .video-play-icon {
          height: 75px;
        }
      }
    }

    .lr-info {
      display: flex;
      flex-direction: column;
      min-width: 64%;
      width: 64%;

      @include breakpoint(phone) {
        width: 100%;
      }

      .availability-price-favorite {
        margin-top: 12px;
      }

      .course-title {
        min-height: 0;
        margin: 0;
        margin-top: 6px;
        margin-bottom: 10px;
      }

      .subtitle {
        margin-bottom: 6px;
      }
    }
  }

  .cover-image {
    height: 171px;
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      height: 171px;
    }

    .video-play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.4;
      object-fit: scale-down;
      height: 100px;
      width: auto;
    }
  }

  .row {
    display: flex;

    &.subtitles {
      min-height: 45px;
      flex-direction: column;

      .subtitle {
        margin-bottom: 5px;

        .lr-subtitle {
          font-size: 14px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;

          a {
            color: black;

            &:hover {
              color: black;
              text-decoration: underline;
            }
          }

          .grey {
            color: $font-grey-light;
          }
        }

        .lr-subtitle.subject a {
          margin-right: 10px;
        }
      }
    }

    &.resource-type {
      font-size: 13px;
      color: $font-grey-mid;
      text-transform: uppercase;
      font-weight: 500;
    }

    &.course-title {
      margin: 10px 0;
      margin-top: 2px;
      min-height: 40px;
      font-size: 18px;
      color: black;
      font-weight: 500;
      cursor: pointer;
    }

    &.availability-price-favorite {
      justify-content: flex-start;
      margin-top: 25px;

      .availability,
      .price {
        font-size: 12px;
        padding-right: 10px;
        cursor: default;

        i {
          font-size: 12px;
          margin-right: 4px;
          padding: 2px;
        }
      }

      .price {
        margin-right: 5px;
      }

      .favorite {
        margin-left: auto;
        cursor: pointer;
        padding: 2px 8px;

        i {
          color: $course-blue;
          font-size: 14px;
          padding: 2px;
        }
      }
    }
  }
}

.lr-portrait-loader {
  height: 354px;
}
