a {
  cursor: pointer;
}

a.navy {
  color: $navy;

  &:visited {
    color: $navy;
  }
}

a.grey {
  color: $font-grey-light;

  &:visited {
    color: $font-grey-light;
  }
}

a.grey,
a.navy {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.no-underline:hover {
  text-decoration: none;
}
