.navbar {
  .mdc-toolbar {
    background-color: #fff;
    box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.2);

    a.mitlogo {
      padding: 16px 0 16px 12px;

      img {
        width: 46px;
      }
    }

    .mdc-toolbar__title, .mdc-toolbar__title a {
      color: #5d5d5d;
      font-size: 1.1rem;
    }
  }

  .mdc-toolbar__icon--menu {
    color: #a31f34;
  }


  @include breakpoint(desktop) {
    .mdc-toolbar__icon--menu {
      display: none;
    }

    .mdc-toolbar a.mitlogo {
      padding-left: 32px;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;

  .settings-link {
    width: 90%;
    margin-left: 36px;
  }

  .mdc-button {
    width: 87%;
    height: 43px;
    line-height: 43px;
    font-size: 15px;
    text-transform: none;
    font-weight: 500;
    padding: 0 5px;
    box-shadow: none;
    margin-left: 14px;
  }

  .mdc-button:hover {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: none;
  }
}

.subscriptions {
  margin: 30px 0 20px;
  width: 100%;
  padding: 16px 0 18px 0;
  box-sizing: border-box;
  border: 1px solid $border-grey-alt;
  border-width: 1px 0;

  .channelname {
    margin: 0 0 0 0;

    a {
      color: $navigation-text;
      display: block;
      font-size: 15px;
      padding: 11px 20px 11px 34px;
    }

    a:hover {
      background: rgba(0,0,0,.05);
    }

    &.current-location {
      background-color: $bg-grey;
    }
  }
}

.post-list-navigation {
  a:first-child {
    margin-right: 12px;
  }
}
