$header-element-spacing: 8px;

a.mitlogo {
  color: $navy;
  height: 25px;
  line-height: 25px;

  img {
    width: 25px;
    margin-left: $text-padding-left;

    @include breakpoint(materialmobile) {
      margin-left: 8px;
    }
  }
}

.drawer-mobile-header .mdc-toolbar__icon--menu,
.navbar .mdc-toolbar__icon--menu {
  color: $navy;
  padding: 0 0 0 $icon-padding-left;
}

.navbar {
  .mdc-toolbar {
    background-color: #fff;
    box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.2);
    z-index: 40;
    position: fixed;

    .mdc-toolbar__row {
      min-height: $toolbar-height-desktop;
      height: $toolbar-height-desktop;

      @include breakpoint(materialmobile) {
        min-height: $toolbar-height-mobile;
        height: $toolbar-height-mobile;
      }

      .search-link {
        $search-icon-height: 28px;
        $search-icon-border: 5px;
        $search-icon-right-margin: 10px;
        margin-right: 28px - $search-icon-right-margin;
        padding: 0 $search-icon-right-margin;
        border-bottom: 5px solid transparent;

        &.active {
          color: $rouge;
          border-bottom-color: $rouge;
        }

        @include breakpoint(materialmobile) {
          margin-right: 16px - $search-icon-right-margin;
        }

        .material-icons {
          font-size: $search-icon-height;
          padding-top: ($toolbar-height-desktop - $search-icon-height) / 2;
          padding-bottom: ($toolbar-height-desktop - $search-icon-height) / 2 -
            $search-icon-border;

          @include breakpoint(materialmobile) {
            padding-top: ($toolbar-height-mobile - $search-icon-height) / 2;
            padding-bottom: ($toolbar-height-mobile - $search-icon-height) / 2 -
              $search-icon-border;
          }
        }
      }
    }

    .mdc-toolbar__section {
      padding: $toolbar-vert-padding 0;
    }

    .mdc-toolbar__title,
    .mdc-toolbar__title a {
      color: $navy;
      font-size: 14px;
      font-weight: bold;
    }

    // Needed to override !important definition from MDC
    span.mdc-toolbar__title {
      margin-left: 8px !important;
    }

    .mdc-toolbar__section--align-start {
      align-items: center;
      justify-content: flex-start;
    }
  }

  .user-menu-section {
    flex-grow: unset;
    padding-right: 0;
    align-items: center;

    .login-link {
      background: white;
      margin: 0 30px 0 0;
      padding: 4px 50px;
      white-space: nowrap;

      @include breakpoint(materialmobile) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
