.navbar {
  .mdc-toolbar {
    background-color: $brand-bg;

    a.mitlogo {
      padding: 16px 0 16px 32px;

      img {
        width: 46px;
      }
    }
  }

  @include breakpoint(desktop) {
    .mdc-toolbar__icon--menu {
      display: none;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mdc-button {
    width: 87%;
    height: 48px;
    line-height: 48px;
    box-shadow: none;
    border-radius: 0;
    background: #0085df;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;

  }
}

.subscriptions {
  margin: 30px 0;
  width: 100%;
  padding: 20px 0 20px 0;
  box-sizing: border-box;
  border: 1px solid #cecece;
  border-width: 1px 0;

  .channelname {
    margin: 0 0 0 0;

    a {
      color: rgba(0,0,0,.77);
      display: block;
      font-size: 15px;
      padding: 15px 20px 15px 30px;
    }

    a:hover {
      background: rgba(0,0,0,.05);
    }
  }
}
