a.mitlogo {
  img {
    width: 46px;
  }
}

.navbar {
  .mdc-toolbar {
    background-color: #fff;
    box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.2);
    z-index: 4;
    position: fixed;

    a.mitlogo {
      padding: 16px 0 16px 12px;
    }

    .mdc-toolbar__title,
    .mdc-toolbar__title a {
      color: #5d5d5d;
      font-size: 1.1rem;
    }
  }

  .mdc-toolbar__icon--menu {
    color: $brand-bg;
  }

  .user-menu-section {
    flex-grow: unset;
    padding-right: 0;
    align-items: center;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;

  .settings-link {
    width: 90%;
    margin-left: 36px;
  }

  .mdc-button {
    width: 87%;
    height: 43px;
    line-height: 43px;
    font-size: 15px;
    text-transform: none;
    font-weight: 500;
    padding: 0 5px;
    box-shadow: none;
    margin-left: 14px;
  }

  .mdc-button:hover {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: none;
  }
}

.tab-row {
  display: flex;
  flex-direction: row;

  .tab {
    padding: 10px 29px 17px;
    color: #585858;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;

    @include breakpoint(phone) {
      padding: 10px 15px 17px;
    }
  }

  & > div {
    cursor: pointer;
  }

  .active {
    border-bottom: 4px solid #0085df;
    font-weight: 500;
    color: #000;
  }
}

.current-location {
  background-color: $bg-grey;
}

.location-list {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0 5px;

  &.subscribed-channels {
    border: 1px solid $border-grey-alt;
    border-width: 1px 0;
    padding: 16px 0 18px 0;
    margin: 15px 0 20px;
  }

  .location {
    margin: 0 0 0 0;

    .home-link {
      display: flex;
      align-items: center;
      margin-top: 10px;
      color: $navigation-text;

      i {
        margin-right: 10px;
      }
    }

    a {
      color: $navigation-text;
      display: block;
      font-size: 15px;
      padding: 11px 20px 11px 34px;
    }

    a:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    &.current-location {
      background-color: $bg-grey;
    }
  }
}

.post-list-navigation {
  a:first-child {
    margin-right: 12px;
  }
}
