a.mitlogo {
  img {
    width: 46px;
  }
}

$red-link-color: #9a2a33;
$icon-padding-left: 19px;
$text-padding-left: 26px;
$link-padding: 11px 20px 11px 19px;

.navbar {
  .mdc-toolbar {
    background-color: #fff;
    box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.2);
    z-index: 4;
    position: fixed;

    .mdc-toolbar__row {
      height: $toolbar-height-desktop;

      @include breakpoint(materialmobile) {
        height: $toolbar-height-mobile;
      }
    }

    a.mitlogo {
      padding: 16px 0 16px 12px;
    }

    .mdc-toolbar__title,
    .mdc-toolbar__title a {
      color: #5d5d5d;
      font-size: 1.1rem;
    }
  }

  .mdc-toolbar__icon--menu {
    color: $brand-bg;
  }

  .user-menu-section {
    flex-grow: unset;
    padding-right: 0;
    align-items: center;

    .login-link {
      margin: 0 32px 0 0;
      color: $font-grey;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;

  .title {
    margin-left: $text-padding-left;
  }

  .new-post-link-container {
    .new-post-link {
      color: $red-link-color;
      display: inline-flex;
      align-items: center;
      padding: 5px 20px 5px 5px;
      margin-left: 13px;
      border: 1px solid $red-link-color;
      border-radius: 30px;
    }
  }

  .mdc-button {
    width: 87%;
    height: 43px;
    line-height: 43px;
    font-size: 15px;
    text-transform: none;
    font-weight: 500;
    padding: 0 5px;
    box-shadow: none;
    margin-left: 14px;
  }

  .mdc-button:hover {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: none;
  }
}

.tab-row {
  display: flex;
  flex-direction: row;

  .tab {
    padding: 10px 29px 17px;
    color: #585858;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;

    @include breakpoint(phone) {
      padding: 10px 15px 17px;
    }
  }

  & > div {
    cursor: pointer;
  }

  .active {
    border-bottom: 4px solid #0085df;
    font-weight: 500;
    color: #000;
  }
}

.current-location {
  background-color: $bg-grey;
}

.location-list {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0 5px;

  &.subscribed-channels {
    padding: 16px 0 18px 0;
    margin: 15px 0 20px;

    .heading {
      margin-left: $icon-padding-left;
      font-weight: 600;
      color: #8a8b8c;
      padding: 11px 0;
    }
  }

  .location {
    display: flex;
    flex-direction: row;
    align-items: center;

    .channel-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $navigation-text;
      font-size: 15px;
      padding: $link-padding;
      flex-grow: 1;
    }

    .settings-link {
      padding: 11px 20px 11px 0;
    }

    a:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    .home-link {
      display: flex;
      align-items: center;
      padding: $link-padding;
      color: $navigation-text;
    }

    &.current-location {
      background-color: $bg-grey;
    }
  }
}

.post-list-navigation {
  a:first-child {
    margin-right: 12px;
  }
}
