.podcasts {
  background-image: url("../images/podcasts_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  min-height: calc(100vh - #{$toolbar-height-desktop});

  @include breakpoint(materialmobile) {
    min-height: calc(100vh - #{$toolbar-height-mobile});
  }

  h1 {
    color: white;
    text-align: center;
  }

  .recent-episodes {
    padding-top: 60px;
    max-width: 480px;
    margin: auto;
    @include breakpoint(materialmobile) {
      padding-top: 50px;
    }

    .recent-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;

      .title {
        font-size: 20px;
        color: white;
        @include breakpoint(materialmobile) {
          margin-left: 15px;
          padding-bottom: 25px;
        }
      }
    }
  }

  .all-podcasts {
    max-width: 900px;
    margin: auto;
    @include breakpoint(materialmobile) {
      padding-left: 20px;
      padding-right: 20px;
    }

    h1 {
      text-align: left;
      color: black;
      text-transform: uppercase;
      font-size: 20px;
      @include breakpoint(materialmobile) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

.podcast-episode-card {
  > .card-contents {
    > button {
      display: flex;
      justify-content: space-between;
      background-color: white;
      color: black;
      padding: 0;
      margin: 0;
      text-align: left;
      width: 100%;

      @include breakpoint(materialmobile) {
        margin-bottom: 5px;
        border-radius: 0px;
        min-height: 140px;
      }

      max-width: 480px;
      cursor: pointer;

      .episode-title {
        font-size: 14px;
        font-weight: bold;
      }

      .podcast-name {
        font-size: 14px;
        color: $font-grey-light;
        font-family: "Roboto";
        padding-top: 10px;
        @include breakpoint(materialmobile) {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }

      .play-date-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .date {
          font-size: 14px;
          color: $podcast-border-grey;
        }
      }

      .podcast-play-button {
        margin-top: 8px;
      }

      .left-col {
        width: 100%;
        margin-right: 10px;
      }

      .episode-cover-image {
        border: 1px solid $podcast-border-grey;
        border-radius: 5px;
        max-width: 125px;
        min-width: 125px;
        max-height: 79px;
        overflow: hidden;
      }
    }
  }
}

.podcast-card {
  > .card-contents {
    > button {
      background-color: white;
      margin: 0;
      padding: 0;
      font-family: roboto;
      cursor: pointer;
      @include breakpoint(materialmobile) {
        margin-bottom: 10px;
      }

      .cover-img {
        img {
          width: 100%;
          min-height: 170px;
          border-radius: 5px 5px 0 0;
        }
      }

      .podcast-info {
        padding: 16px;
      }

      .resource-type {
        font-size: 13px;
        color: $font-grey-mid;
        text-transform: uppercase;
        font-weight: 500;
      }

      .podcast-title {
        margin: 10px 0;
        margin-top: 2px;
        min-height: 62px;
        font-size: 18px;
        color: black;
        font-weight: 500;
        cursor: pointer;
      }

      .podcast-author {
        font-size: 14px;
        color: $font-grey-light;
        min-height: 16px;
      }
    }
  }
}

.podcast-play-button {
  a {
    display: inline-flex;
    font-family: $body-font;
    font-size: 14px;
    margin: 0;
    padding: 0px 10px;
    cursor: pointer;
    text-transform: uppercase;

    i {
      font-size: 18px;
    }
  }

  &.grey-surround {
    > a {
      color: black;

      i {
        color: black;
        background-color: $pale-grey;
      }
    }
  }

  &.black-surround {
    > a {
      color: white;

      i {
        color: white;
        background-color: black;
      }
    }
  }
}

.podcast-play-control {
  display: flex;
}

.paginated-podcast-episodes {
  padding: 10px;
}
