.podcasts {
  background-image: url("../images/stata_curved.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  min-height: calc(100vh - #{$toolbar-height-desktop});

  @include breakpoint(materialmobile) {
    min-height: calc(100vh - #{$toolbar-height-mobile});
  }

  h1 {
    color: white;
    text-align: center;
  }

  .recent-episodes {
    padding-top: 60px;
    max-width: 480px;
    margin: auto;

    .recent-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;

      .title {
        font-size: 20px;
        color: white;
      }
    }
  }

  .podcast-episode-card {
    max-width: 480px;

    .card-contents {
      display: flex;
      justify-content: space-between;
    }

    .episode-title {
      font-size: 14px;
      font-weight: bold;
    }

    .podcast-name {
      font-size: 14px;
      color: $font-grey-light;
      font-family: "Roboto";
      padding-top: 10px;
    }

    .black-surround,
    .grey-surround {
      display: inline-block;
      font-size: 14px;
      padding: 2px 10px;
      margin-top: 8px;
    }

    .episode-cover-image {
      border: 1px solid $podcast-border-grey;
      border-radius: 5px;
    }
  }
}
