.popup {
  position: absolute;
  background: white;
  top: 30px;
  right: -109px;
  box-shadow: 0 0 20px $card-shadow;
  padding: 12px;
  min-width: 250px;
  z-index: 10;
  font-size: $tooltip-font-size;

  .triangle {
    @extend %triangle;
  }

  .popup-text,
  h4 {
    width: 90%;
    color: $font-black;
  }

  h4 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: inherit;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }

  .bottom-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;

    .popup-buttons {
      display: flex;

      > div {
        margin-right: 3px;
      }
    }

    .copy-url {
      font-size: 12px;
    }
  }
}

.reversed {
  right: 0px !important;

  .triangle {
    right: 10% !important;
  }
}

.share-popup {
  .triangle {
    right: 50%;
  }
}

.login-popup {
  top: unset;
  right: unset;
  margin-top: 10px;
  min-width: 255px;
  max-width: 290px;

  .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    margin: 7px 7px 0 0;
    background-color: #fff !important;
    color: #000;
    min-width: unset;
    height: unset;

    i {
      font-size: 16px;
    }

    &:before {
      background-color: $bg-light-grey !important;
    }

    &:after {
      background-color: $bg-light-grey !important;
    }
  }

  .link-button {
    background-color: #fff;
    display: block;
    border-radius: $std-border-radius;
    padding: 5px 15px;
    margin: 0 0 0 10px;
    border: 1px solid $brand-bg;
    color: $brand-bg;
    text-align: center;
  }

  .red {
    background-color: $brand-bg;
    color: #fff;
  }

  // Popup-specific spacing styles
  // DELETE THESE WHEN #1299 IS COMPLETED
  &.follow-btn-popup {
    margin-top: 32px;
  }

  &.post-reply-popup {
    margin-top: 50px;
  }

  &.post-upvote-popup {
    margin-top: 97px;
  }
}
