.popup {
  position: absolute;
  background: white;
  top: 30px;
  right: -109px;
  box-shadow: 0 0 20px $card-shadow;
  padding: 12px;
  min-width: 250px;
  z-index: 10;

  .triangle {
    @extend %triangle;
  }

  .popup-title {
    color: $font-black;
    margin-bottom: 2px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }

  .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    .popup-buttons {
      display: flex;

      > div {
        margin-right: 3px;
      }
    }

    .copy-url {
      font-size: 12px;
    }
  }
}

.reversed {
  right: 0px !important;

  .triangle {
    right: 10% !important;
  }
}

.share-popup {
  .triangle {
    right: 50%;
  }
}

.login-popup {
  top: unset;
  right: unset;
  margin-top: 10px;
  min-width: 255px;

  &.downshift {
    margin-top: 50px;
  }

  .close-popup {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    background-color: #fff !important;
    color: #000;
    min-width: unset;
    height: unset;
    font-size: 12px;

    &:before {
      background-color: $bg-light-grey !important;
    }

    &:after {
      background-color: $bg-light-grey !important;
    }
  }

  .link-button {
    background-color: #fff;
    display: block;
    border-radius: 10px;
    padding: 5px 15px;
    border: 1px solid #972c37;
    color: #972c37;
    text-align: center;
    margin: 10px 5px 10px;
  }

  .red {
    background-color: #972c37;
    color: #fff;
  }
}
