.post-card {
  margin-bottom: 0;

  .post-card-inner {
    padding: 6px 22px 0 22px;

    @include breakpoint(phone) {
      padding: 4px 9px 0;
    }
  }
}

.reply-post-form {
  margin-top: 15px;

  .profile-image-container {
    margin: 13px 0 0 18px;
  }

  .triangle {
    @extend %triangle;

    left: 24px;
  }

  .form-item {
    @extend %card;

    display: flex;
    position: relative;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  textarea {
    border: none;
    resize: vertical;
    margin: 15px 10px 12px 10px;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

.comment-detail-card {
  background-color: $bg-blue;
  font-size: $submission-font-size;
}

.comments-and-menu,
.post-actions {
  // to make the user-menu live in it correctly
  position: relative;
  display: flex;
  align-items: center;

  > * {
    color: $font-grey-light;
  }

  i {
    cursor: pointer;
  }

  .dropdown-menu {
    top: 22px;
  }
}

.authored-by {
  display: flex;
  flex-direction: column;
  font-size: $author-font-size;

  div {
    padding-bottom: 2px;
  }

  .author-name {
    color: $navy;
  }

  .author-headline {
    color: $font-grey-light;
  }

  .date {
    color: $font-grey-light;
  }
}

.compact-post-summary {
  .upvote-report-count {
    display: flex;
    align-items: center;

    .report-count {
      margin-left: 10px;
    }
  }

  .post-title {
    font-size: 18px;
    font-weight: bold;
    color: $navy;
    margin: 0 0 10px;
  }

  &.sticky {
    .title-row {
      overflow: visible;
      position: relative;

      .pin {
        position: absolute;
        left: -15px;
        top: 6px;
      }
    }
  }

  .title-row {
    i {
      color: $font-grey-light;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .upvotes {
      margin-top: 5px;
    }
  }
}

.url-hostname {
  color: $font-grey-light;
  font-size: 16px;
  margin-left: 4px;
  font-weight: 400;
}

.expanded-url-hostname {
  color: $font-grey-light;
  font-size: 18px;
  margin-left: 4px;

  i {
    vertical-align: middle;
  }
}

.expanded-post-summary {
  display: flex;
  flex-direction: column;
  font-size: $submission-font-size;
  line-height: 1.3;

  .post-upvote-button,
  .post-action {
    font-size: 14px;
  }

  .authored-by {
    line-height: 1;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0;

    .profile-image-container {
      padding: 0 10px 0 0;
    }

    .date,
    .author-headline {
      margin-left: 35px;
    }

    .separator {
      display: none;
    }

    .left {
      flex-direction: column;
      align-items: flex-start;

      a {
        display: flex;
        align-items: center;
      }
    }

    @include breakpoint(extrawide) {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin: 20px 0;
      line-height: initial;

      .date,
      .author-headline {
        margin-left: 0;
      }

      .separator {
        display: initial;
      }

      .left {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }

    @include breakpoint(phone) {
      font-size: 13px;
    }
  }

  tt,
  code,
  kbd,
  samp {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }

  .post-links {
    display: flex;
    align-items: center;

    a,
    div {
      cursor: pointer;
      display: block;
      margin: 0;
      font-size: 13px;
      font-weight: 400;
      margin-right: 10px;
    }
  }

  .profile-image {
    flex-shrink: 0;
  }

  .summary {
    overflow: hidden;
  }

  .text-content {
    color: rgba(0, 0, 0, 0.77);
    line-height: 1.4;
    font-size: $submission-font-size;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }

  .post-title {
    font-size: 24px;
    font-weight: bold;
    margin: 7px 0 9px;
    line-height: 29px;
  }

  .left {
    display: flex;
    align-items: center;

    .report-count {
      margin-left: 10px;
    }
  }

  .post-actions {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    font-size: 14px;

    a {
      margin: 0 5px;
    }

    .report-count {
      margin-left: 10px;
    }

    .right {
      display: flex;
      position: relative;

      .post-action {
        margin-right: 10px;

        &.share-action {
          position: relative;

          i {
            transform: scaleX(-1);
          }

          > div:not(.share-popup) {
            display: flex;
            align-items: center;
          }
        }

        @include breakpoint(phone) {
          margin: 0 5px;
        }
      }
    }
  }

  .provider-name {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 14px;
  }
}

.grey-surround {
  display: flex;
  align-items: center;
  border-radius: 12.5px;
  cursor: pointer;
  background-color: $pale-grey;
  padding: 2px;
  color: $navy;
  font-size: 12px;

  &.upvoted {
    background-color: $navy;

    span {
      color: white;
    }
  }

  &.more_vert {
    line-height: 18.7px;
  }

  i {
    font-size: 18.7px;
    background-color: white;
    border-radius: 50%;
  }

  span {
    margin: 0 6px;
    line-height: 18.7px;
  }
}

.comment-link {
  margin-right: 5px;
}

.upvote-button,
.downvote-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.count-and-sort {
  margin: 10px 0 10px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .comments-count {
    font-size: 15px;
  }
}
