.post-card {
  padding: 6px 22px 0 22px;
}

.post-summary {
  display: flex;
  flex-direction: column;

  &:not(:last-child):not(.expanded) {
    border-bottom: 1px solid $border-grey;
  }

  &:not(.expanded) {
    flex-direction: row;
    padding: 22px 0;
  }

  .post-title {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 7px;
  }

  .authored-by {
    font-size: 14px;
    color: $font-grey;
    margin: 0 0 8px;
  }

  .num-comments {
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }

  .summary {
    overflow: hidden;
  }
}

.upvotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;

  &.expanded {
    flex-direction: row;
    justify-content: space-between;
    width: 35px;
  }

  span.votes {
    display: block;
    color: #6f99be;
    font-weight: 500;
    font-size: 14px;
  }
}

.upvote-button, .downvote-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.comments-count {
  margin: 0 0 18px 22px;
  font-size: 15px;
}
