.post-card {
  padding: 6px 22px 0 22px;

  @include breakpoint(phone) {
    padding: 4px 9px 0;
  }
}

.comment-detail-card {
  background-color: $bg-blue;
  font-size: 15px;
}

.comments-and-menu, .post-actions {
  // to make the user-menu live in it correctly
  position: relative;
  display: flex;
  align-items: center;

  > * {
    color: $font-grey-light;
  }

  i {
    cursor: pointer;
  }

  .dropdown-menu {
    top: 22px;
    right: 11px;
  }
}

.compact-post-summary {
  a {
    color: $font-black;
  }

  .post-title {
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 20px;
  }

  .authored-by {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    div {
      padding-bottom: 2px;
    }

    .author-name {
      color: $font-darkgrey;
    }

    .date {
      color: $font-grey-light;
    }
  }

  .title-row {
    i {
      color: $font-grey-light;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .upvotes {
      margin-top: 5px;
    }

    .comments-and-menu {
      .comment-link {
        display: flex;
        align-items: center;
        margin-right: 8px;
        color: $font-grey-light;

        i {
          margin-right: 11px;
        }
      }
    }
  }
}

.url-hostname {
  color: $font-grey;
  font-size: 13px;
  margin-left: 4px;
}

.post-summary {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 1.3;

  &:not(:last-child):not(.expanded):not(.sticky) {
    border-bottom: 1px solid $border-grey;
  }

  &:not(.expanded) {
    flex-direction: row;
    padding: 16px 0;
  }

  &.sticky {
    background-color: $bg-blue;
  }

  .authored-by {
    font-size: 13px;
    color: $font-grey;
    margin: 0 0 8px;

    span.author-name {
      color: $font-black;
    }
  }

  tt, code, kbd, samp {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }

  .post-links {
    display: flex;
    align-items: center;

    a, div {
      cursor: pointer;
      display: block;
      margin: 0;
      font-size: 13px;
      font-weight: 400;
      margin-right: 10px;
    }
  }

  .profile-image {
    flex-shrink: 0;
  }

  .summary {
    overflow: hidden;

    .profile-image {
      float: left;
      position: relative;
      top: 6px;
    }
  }

  .text-content {
    color: rgba(0, 0, 0, 0.77);
    line-height: 1.4;
    font-size: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }

  .post-actions {
    display: flex;
    margin-top: 10px;

    a {
      margin: 0 5px;
    }

    .report-count {
      margin-left: 10px;
    }
  }
}

.expanded {
  .post-title {
    font-size: 28px;
    font-weight: 400;
    margin: 7px 0 9px;

    a {
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .post-actions {
    justify-content: space-between;

    .right {
      display: flex;
      position: relative;

      .post-action {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 13px;

        &.share-action {
          position: relative;

          > div:not(.share-popup) {
            display: flex;
            align-items: center;
          }
        }

        i {
          margin-right: 2px;
        }

        @include breakpoint(phone) {
          margin: 0 5px;
        }
      }
    }
  }

  .authored-by {
    font-size: 14px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    .profile-image-container {
      padding: 0 10px 0 0;
    }

    .left {
      display: flex;
      align-items: center;
    }

    .right {
      color: $font-grey;
    }

    span.author-name {
      font-weight: 500;
    }
  }
}

.upvotes {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 35px;
  min-width: 10px;
  padding-top: 0px;

  span.votes {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #555;
    margin-top: 0;
  }
}

.upvote-button, .downvote-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.count-and-sort {
  margin: 20px 0 20px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .comments-count {
    font-size: 15px;
  }
}
