.post-list-title {
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
}

.post-list {
  .empty-list-msg {
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: $font-grey;
  }
}

.post-toprow {
  height: auto;
  margin-bottom: 10px;
  word-break: break-word;

  .column1 {
    word-break: break-word;
  }

  .column2 {
    position: relative;
    overflow: hidden;
    min-width: 24px;
    width: 24px;
    margin-left: 5px;
    display: flex;
    justify-content: flex-end;
    height: 103px;

    .top-right {
      position: absolute;
      top: 0px;
      right: 0px;

      img {
        width: 201px;
        height: 103px;
      }
    }
  }

  .link-thumbnail {
    min-width: 25%;
    width: 25%;
    overflow: hidden;
    border-radius: 5px;

    img {
      border-radius: 5px;
    }
  }
}

.overlay-icon {
  color: $navy;
  background-color: $pale-grey;
  padding: 5px;
  opacity: 0.9;
  font-size: 18.7px;
  border-radius: 5px;
}
