.post-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.post-list {
  .empty-list-msg {
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: $font-grey;
  }
}

.post-toprow {
  min-height: 103px;
  height: auto;
  margin-bottom: 10px;
  overflow: hidden;
}

.post-toprow-column2 {
  position: relative;
  min-width: 201px;
  width: 201px;
  overflow: hidden;

  @include breakpoint(mobile) {
    min-width: 94px;
    width: 94px;
    height: 103px;
  }

  @include breakpoint(phone) {
    min-width: 94px;
    width: 94px;
    height: 103px;
  }
}

.post-row-top-right {
  position: absolute;
  top: 0px;
  right: 0px;

  img {
    width: 201px;
    height: 103px;
    margin: 0px 0px 0px 0px;

    @include breakpoint(mobile) {
      margin: 0px -53px 0px 53px;
    }

    @include breakpoint(phone) {
      margin: 0px -53px 0px 53px;
    }
  }
}

.overlay-icon {
  color: $bg-grey;
  background-color: white;
  opacity: 0.9;
}
