.post-summary {
  padding: 22px 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-grey;
  }

  .upvotes {
    float: left;
    width: 60px;
    text-align: center;

    img.upvote-arrow {
      width: 20px;
    }

    span.votes {
      display: block;
      color: #6f99be;
      font-weight: 500;
      font-size: 14px;
      margin: 5px 0 0;
    }

    &.upvoted {
      .upvote-button {
        &:disabled {
          color: $border-grey;
        }
      }

      .votes, .upvote-button {
        color: $voted-blue;
      }
    }
  }

  .text-content {
    padding: 0;
    margin-top: 15px;
  }

  .post-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 7px;
  }

  .authored-by {
    font-size: 14px;
    color: $font-grey;
    margin: 0 0 8px;
  }

  .num-comments {
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }

  .summary {
    overflow: hidden;
  }
}
