.post-summary {
  padding: 15px 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-grey;
  }

  .upvotes {
    width: 5em;
    padding-top: 1.5em;
    float: left;
    text-align: center;

    button, span {
      display: block;
      margin: 0 auto;
    }
  }

  .text-content-border {
    margin: 20px;
    border: 1px solid $border-grey;
    background-color: $bg-blue;
    border-radius: 7px;

    .text-content {
      padding: 20px;
    }
  }

  .post-title {
    font-size: 18px;
  }

  .num-comments {
    display: block;
  }

  .authored-by {
    display: block;
    padding-bottom: 5px;
    font-weight: 300;
    color: $font-grey;
  }

  .summary {
    overflow: hidden;
  }
}
