.post-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-list {
  .empty-list-msg {
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: $font-grey;
  }
}
