.profile-card {
  color: $navy;

  .card-contents {
    padding: 32px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .actions {
    justify-content: flex-end;
  }

  .profile-image-container {
    margin-right: 40px;
  }

  .name-and-headline {
    .name {
      font-size: 24px;
    }

    .headline {
      font-size: 16px;
    }
  }

  .bio {
    font-size: 16px;
    margin-top: 22px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.profile-view-page,
.profile-edit-page {
  .actions {
    display: flex;
    justify-content: flex-end;
  }
}
