.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.medium {
  width: 109px;
  height: 109px;
}

.profile-incomplete {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  left: 42px;
  top: -46px;
}

.profile-image-edit {
  display: flex;

  .avatar {
    position: relative;

    .open-photo-dialog {
      cursor: pointer;
      width: 34px;
      height: 34px;
      border: 0;
      border-radius: 50%;
      background-color: #B51D85;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      line-height: 45px;

      img {
        width: 22px;
        height: auto;
      }

      i.material-icons {
        color: white;
        font-size: 22px;
      }
    }
  }

  a {
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
  }
}

.rounded-profile-image {
  margin-left: 15px;
}

.img-error {
  color: $validation-text;
  background-color: $validation-bg;
  font-size: 14px;
  text-align: center;
}

.photo-upload-dialog {
  h3 {
    border-bottom: none !important;
  }
}

.photo-dropzone {
  font-size: 20px;
  font-weight: 400;

  .desktop-upload-message, .mobile-upload-message {
    font-size: 17px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    color: $font-black;
  }

  .mobile-upload-message  {
    display: none;
  }

  @include breakpoint(mobile) {
    .desktop-upload-message {
      display: none;
    }

    .mobile-upload-message  {
      display: block;
    }
  }
}

.photo-active-item {
  width: 100%;
}

.dashed-border {
  background-color: $bg-light-grey;
  border-radius: 7px !important;
  border: 2px dashed $border-grey !important;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include breakpoint(mobile) {
    border: none;
    border-radius: 0;
  }
}

