.report-count {
  background-color: $report-count-red;
  color: white;
  padding: 2px 5px;
}

.channel-moderation {
  .empty-message {
    width: fit-content;
    margin: 50px auto;
    color: $font-grey;
  }
}
