.search-textbox {
  position: relative;

  input {
    padding: 3px 40px 2px 40px;
    font-size: 22px;
    font-weight: 600;
    box-sizing: border-box;
  }

  .material-icons {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 6px;
    height: 21px;
    width: 21px;
  }

  .search-icon {
    left: 10px;
  }

  .clear-icon {
    right: 10px;
    font-size: 20px;
  }

  .maxwidth {
    max-width: 600px;
  }
}

.profile-search-result {
  .card-contents {
    display: flex;
    flex-direction: row;
    align-items: center;

    .profile-image-container {
      padding-right: 20px;
    }

    .name {
      font-size: 18px;
      font-weight: bold;
    }

    .headline {
      font-size: 16px;
      padding-top: 5px;
    }
  }
}

.facets {
  margin-bottom: 20px;

  .facet-title {
    font-size: 18px;
    font-weight: bold;
  }

  .divider {
    padding-top: 20px;
  }

  .mdc-form-field {
    display: flex;
    align-items: center;

    label {
      margin: 0;
      width: 100%;
    }
  }
}

.facet-hidden {
  display: none;
}

.facet-more-less {
  cursor: pointer;
  color: $link-blue;
}

.facet-label-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}