.app .settings-page form {
  @include breakpoint(desktop) {
    width: inherit;
  }
}

.settings-page {
  .card {
    width: 500px;

    @include breakpoint(mobile) {
      width: 350px;
    }
  }

  .tab-row {
    margin: 0 0 20px 0;
  }

  button {
    margin-left: 15px;
  }

  .settings-radio {
    & > div {
      display: flex;
      align-items: center;

      label {
        margin: 0;
      }
    }
  }

  .mdc-form-field {
    display: flex;
    align-items: center;

    label {
      margin: 0;
    }
  }

  a.buttonLink {
    display: inline-block;
  }
}
