.app .settings-page form {
  @include breakpoint(desktop) {
    width: inherit;
  }
}

.settings-page {
  .card {
    width: 500px;

    @include breakpoint(mobile) {
      width: 350px;
    }
  }

  .tab-row {
    margin: 0 0 20px 0;
  }

  button {
    margin-left: 15px;
  }

  .settings-radio {
    & > div {
      display: flex;
      align-items: center;

      label {
        margin: 0;
      }
    }
  }

  .mdc-form-field {
    display: flex;
    align-items: center;

    label {
      margin: 0;
    }
  }

  a.buttonLink {
    display: inline-block;
  }
}

.account-settings-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 10px 0;
  margin: 40px 0 0 0;
  border-bottom: 1px solid #777;
  color: #000;

  h5,
  h5.touchstone-text-logo {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: 700;
    color: inherit;
  }

  a:link {
    font-weight: 700;
  }
}
