.sidebar {
  margin: 20px;

  .new-post {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    font-size: 1.5em;
  }

  .user-count {
    color: $font-grey;
  }

  .description {
    padding-bottom: 10px;
  }
}
