.user-list-page {
  .first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      max-height: 36px;
    }
  }

  .empty-message {
    font-style: italic;
  }

  .list-description {
    font-size: 16px;
  }
}
