.user-menu {
  position: relative;
  cursor: pointer;
  margin-right: 30px;

  i {
    color: black;
    position: absolute;
    top: 28px;
    right: -6px;
  }

  .profile-incomplete {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
