.user-menu {
  position: relative;
  cursor: pointer;
  margin-right: $icon-padding-left;

  .avatar .profile-image {
    width: 30px;
    height: 30px;
  }

  i {
    color: black;
    position: absolute;
    top: 14px;
    right: -8px;
  }

  .user-menu-dropdown {
    top: 31px;
    right: 0;
  }

  .profile-incomplete {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
