.user-list-card {
  margin-bottom: 0;

  .card-contents {
    display: flex;
    flex-direction: row;
  }

  .userlist-info {
    width: 100%;
    margin-right: 16px;
    display: flex;
    flex-direction: column;

    .platform {
      font-size: 14px;
      color: $font-grey-mid;
      text-transform: uppercase;
    }

    .ul-title {
      font-size: 16px;
      color: black;
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 20px;
    }

    .actions-and-count {
      display: flex;
      margin-top: auto;
      justify-content: space-between;

      .count {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .cover-img {
    height: 100px;
    width: 161px;
    min-width: 161px;
    border-radius: 3px;
  }
}
