.widget-title {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
}

.widget-text {
  font-size: 16px;
  font-weight: normal;
}

.header-one {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: flex-end;
  align-items: center;

  .manage-title {
    font-weight: 700;
    margin-right: auto;
  }

  button {
    padding: 5px 15px;
    margin: 0 5px;
  }
}

.widget {
  hr {
    border: 0;
    border-top: 1px solid $border-grey;
  }

  .edit-buttons {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: black;

    .drag-handle,
    .delete {
      cursor: pointer;
    }
  }
}
