.widget-list {
  .card-contents {
    padding: 20px 16px 6px 16px;
  }

  .manage-widgets {
    margin-bottom: 5px;

    .add-widget {
      cursor: pointer;
    }
  }
}

.widget {
  .widget-title {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
  }

  .widget-text {
    font-size: 16px;
    font-weight: normal;
  }

  hr {
    margin: 4px 0;
    border: 0;
    border-top: 1px solid $pale-grey;
  }

  .edit-buttons {
    user-select: none;
    display: flex;
    flex-direction: row;
    color: black;

    .widget-button {
      cursor: pointer;
      background-color: $pale-grey;
      font-size: 20px;
      padding: 4px;
      border: 2px solid white;
    }

    .drag-handle {
      margin-left: auto;
    }
  }
}

.manage-widgets-navbar {
  z-index: 22;
}
