.widget-list {
  .card-contents {
    padding: 20px 16px 6px 16px;
  }

  .manage-widgets {
    margin-bottom: 5px;

    .add-widget {
      cursor: pointer;
    }
  }
}

.configuration-field.number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widget-dialog {
  min-width: auto;
  max-width: 400px;

  .mdc-dialog__header {
    padding: 40px 40px 20px 40px;

    .mdc-dialog__header__title {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .mdc-dialog__body {
    padding: 0 40px 20px 40px;
  }

  .mdc-dialog__footer {
    padding: 0 30px 30px 30px;
  }
}

.widget {
  font-size: 14px;

  .title {
    // remove margin applied by Card to .title
    margin: 0 0 15px 0;
    font-size: 17px;
    font-weight: 700;
    display: inline-block;
  }

  &,
  a {
    color: black;
  }

  hr {
    margin: 4px 0;
    border: 0;
    border-top: 1px solid $pale-grey;
  }

  .edit-buttons {
    user-select: none;
    display: flex;
    flex-direction: row;
    color: black;

    .widget-button {
      cursor: pointer;
      background-color: $pale-grey;
      font-size: 20px;
      padding: 4px;
      border: 2px solid white;
    }

    .drag-handle {
      margin-left: auto;
    }
  }

  .entry {
    margin-bottom: 10px;

    .entry-title {
      font-size: 16px;
      font-weight: 700;
    }

    .description,
    .time {
      font-size: 14px;
      color: $font-grey-light;
    }

    .description img {
      width: 100%;
    }

    .time {
      margin: 10px 0;
      display: inline-block;
    }
  }

  iframe {
    width: 100%;
  }
}
