{% load i18n static hijack %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% spaceless %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />

    <title>{% block title %}{% trans "Open Discussions" %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    {% block extrahead %}Ï
    {% endblock %}
    {% endspaceless %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    {% block content %}
    {% endblock %}
  </body>
</html>
